page-appointments-card {

    .scroll-content {
        margin-top: 0px;
    }

    .menuButton:active {
        background-color: transparent;
    }

    .menuButton:focus {
        background-color: transparent;
    }



    .col-speciality {
        padding: 0px !important;
        margin: 2px 0px !important;
        margin-top: 0px !important;

        .testDiv {
            margin: 0vw 3.5vw;
            background: white !important;

        }

        .featuredItem {
            margin: 10px !important;
            min-height: 25vw !important;
            // background: green;
            .featuredImage {

                height: 20vw !important;
                width: 20vw !important;

                position: relative;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -20%);

                border-radius: 5px;
                // background: dodgerblue;
            }

        }

        .lbl-speciality {
            color: rgb(32, 32, 32);
            font-size: 3.76vw;
            font-family: $GothamRounded-Bold;
            text-align: center !important;
            width: 100%;
            margin-top: 0vw !important;
            padding-bottom: 1.8vw !important;
            // background: deeppink;
        }

        .dealOfMomentItem {
            background: rgb(238, 238, 238) !important;
        }

    }

}