<ion-header class="ionDefaultHeader">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Environment Info</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>

  </ion-row>

</ion-header>

<ion-content padding>
  <ion-label text-wrap class="EnterActivationCode font-for-sub-header-content"
    style="font-size:18px; margin-top: 8px; ">
    You are connected to live environment
  </ion-label>
  <ion-row no-padding no-margin no-lines
    [ngClass]="true ? 'slide-in  serviceCellSelected' : 'slide-out  serviceCellUnselected' "
    (click)="switchEnviroment(1)">
    <ion-col no-padding no-margin no-lines class="checkBoxCol" col-1>
      <ion-checkbox item-start class="CheckBox" [checked]="selectedEnviroment && selectedEnviroment === 1"
        (click)="switchEnviroment(1)">
      </ion-checkbox>
    </ion-col>

    <ion-col class="serviceNameCol" col-10>
      <ion-label class="serviceName" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>
        Live Environment </ion-label>

    </ion-col>

  </ion-row>
  <ion-row no-padding no-margin no-lines
    [ngClass]="true ? 'slide-in  serviceCellSelected' : 'slide-out  serviceCellUnselected' "
    (click)="switchEnviroment(2)">
    <ion-col no-padding no-margin no-lines class="checkBoxCol" col-1>
      <ion-checkbox item-start class="CheckBox" [checked]="selectedEnviroment && selectedEnviroment === 2"
        (click)="switchEnviroment(2)">
      </ion-checkbox>
    </ion-col>

    <ion-col class="serviceNameCol" col-10>
      <ion-label class="serviceName" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>
        Dev Environment </ion-label>

    </ion-col>

  </ion-row>

</ion-content>