salon-card {

    .salonCard {
        width: 100%;//calc(100% - 8vw);
        background: white !important;
        box-shadow: none;

        margin: 3.7vw 0vw 0vw 0vw !important;
        .right-arrow {
            width: 2.116vw !important;
            height: 4.23vw !important;
            position: absolute;
            z-index: 99999999;
            margin-top: 7vw;
            margin-right: 3.5vw;
            right: 3.64vw;
        }
        .imgFavoriteSalon {
            position: absolute;
            z-index: 99999999;
            width: 7.93vw;
            height: 7.93vw;
            margin-top: 1.5vw;
            margin-right: 0.5vw;
            right: 3.64vw;
        }
        .doctor-info-row{
            min-height: 22vw;
        }
        .col-img-doctor {
            &:first-of-type {
                flex: 0 0 25%;
            }
        }

        .salBackImage {
            width: 17vw;
            height: 16vw;

            position: relative;
            z-index: 0;

            border-radius: 50%;
            position: relative;
            top: 4.2vw;
            left: 4.5vw;

            // background: green;
        }

        .is-available-now{
            margin-left: 3vw !important;
            color: rgb( 89, 185, 75);
            font-size: 2.9vw;
            text-align: left;
            font-family: $GothamRounded-Book !important;
            background: transparent;
            position: relative;
            top: 4.2vw;   
        }
        .salonName {

            margin-left: 3vw !important;

            width: calc(100% - 3vw);

            color: rgb(67, 67, 67);
            font-size: 3.9vw;
            text-align: left;
            font-family: $GothamRounded-Bold !important;
            background: transparent;
            position: relative;
            top: 4.2vw;
            // position: relative;
            // top: 40%;
            // transform: translateY(-50%);
            // background: deeppink;
            line-height: 6vw;
            vertical-align: top !important;
            // padding-bottom: 2vw;
            img {
                width: 4.5vw;
                height:  4.5vw;
                position: absolute;

                bottom: 0.5vw !important;
                margin-left:  1vw;
                // background: gold;
                // top: 50%;
                // transform: translateY(-50%);
            }
        }

        .SalonAddress {
            margin-top: 5.3pt;
            width: calc(100% - 13.3pt);
            margin-left: 9.7pt !important;
            margin-right: 4pt !important; //
            margin-bottom: 4pt;
            position: relative;

            .lblAddress {
                font-size: 3.7vw;
                width: 100%;
                line-height: 13.5pt;
                color: rgb(150, 150, 150);
                font-family: 'montserrat-light';
                float: left;
                margin-top: 0px;
            }

            .PinImageWithDistance {
                // width: 100%; //calc(100% - calc(100% - 88pt));
                width: calc(100% - 9pt); // height: 15pt; // margin-right: 0pt;
                // margin-left: 0pt !important;
                height: auto;
                overflow: hidden;
                padding: 0pt;
                margin: 0pt;
                float: right;
                font-family: 'Montserrat-Medium'; // 

                // background: deepskyblue;
                .pinImage {
                    width: 6pt; // height: 9pt;
                    height: calc(100% - 2pt);
                    float: left; // position: relative;
                    // right: 0pt !important;
                    margin-right: 0pt !important; // 
                    margin-left: 8pt;
                    margin-top: 3.5pt; // background: red;
                }

                .pinDistance {
                    height: calc(100% - 2pt);

                    float: none;
                    width: auto;
                    overflow: hidden;
                    font-size: 3.17vw;
                    font-family: 'Montserrat-Regular';
                    letter-spacing: 0.4;

                    margin: 1pt 0pt 1pt 0pt !important;
                    color: rgb(255, 95, 109);
                    text-align: left;
                    text-align: center;
                }
            }

        }

        .ratingCard {
            width: 100%;
            box-shadow: none; // 
            max-height: 6vw !important;
            position: relative;
            top: 4.2vw;
            ul {
                padding: 0pt !important;
                margin-top: 2px;
                // margin-bottom: 0pt;
                // background: deeppink;
                margin-left: 0pt !important;

                &.rating li {
                    padding: 3px 0px 0px 0px !important;
                    background: none; // color: rgb(255, 189, 2);
                    color: rgb(89, 185, 75);

                    ion-icon {
                        font-size: 5.28vw;
                    }
                }
            }

            .ratingValue {
                margin-top: 3px;
                margin-left: 10px;
                margin-right: 3px;
                float: left;
                white-space: normal;
                text-align: left;
                font-size: 3.88vw;
                font-family: 'SanFranciscoDisplay_Semibold' !important; // font-family: 'Montserrat-Medium' !important;
                // color: rgb(255, 189, 2);
                color: rgb(89, 185, 75);
                position: relative; // background: red;
            }

            .withNoRating {
                float: left;
                margin-left: 9px !important;
                position: relative; // background: chocolate;
            }

            .withRating {
                float: left; // margin-left: 2px;
                margin-left: 0px !important;
                position: relative;
                padding-bottom: 10px !important;
                margin-top: 0pt; //  margin-bottom: 14pt;
            }

            .notEnoughRating {
                text-align: left;
                font-size: 3.17vw;
                float: left;
                white-space: normal;
                font-family: 'Montserrat-Regular' !important;
                color: rgb(150, 150, 150);
                position: relative;
                padding-left: 2pt;
                margin-top: 3pt;
                margin-left: 8px !important;
                margin-bottom: 5pt; // background: green;
                padding-bottom: 10px !important;
                clear: both;
            }
        }

        .qualification-contact-row {
            // background: dodgerblue !important;
            padding-top: 2px;

            .col-degree-number {
                background: transparent;

                &:first-of-type {
                    flex: 0 0 13%;
                }
            }

            .img-degree {
                width: 8vw;
                height: 8vw;
                // background: $Beautyapp-gradient-color;
                position: relative;
                z-index: 0;
                border-radius: 50%;
                position: relative;
                top: 50%;
                left: 70% !important;
                transform: translate(-50%, -50%);
                // background:chocolate;
            }
        }

        .lblBoldText {

            margin-left: 12px;
            font-size: 4.23vw;
            color: rgb(38, 38, 38);

            font-family: $Montserrat-SemiBold !important;

            // background: deeppink !important;
            .lblDimText {
                text-align: right;
                letter-spacing: 0.3px;
                color: rgba(104, 104, 104, 0.9);
                margin-top: 10px;
                margin-bottom: 15px;
                font-family: $Montserrat-Regular !important;
                // float: right !important;
                // color: green !important;

            }
        }

        .promotionContainer {
            margin-top: 0pt;
            padding-bottom: 5pt;
            background: rgb(255, 95, 109);
            box-shadow: none;
            width: 100% !important;

            .oferrTitle {
                margin: 5pt 10pt 0pt 10pt;
                font-size: 3.7vw;
                width: calc(100% - 20pt);
                white-space: normal;
                overflow: hidden;
                font-family: 'Montserrat-Regular' !important;
                color: white;
                background: transparent
            }

            .btnViewAllPromotions {
                position: relative;
                margin-right: 10pt !important;
                float: right;
                padding: 0pt;
                margin: 0pt;
                width: 100pt;
                height: 20pt;
                text-align: right;
                color: white;
                font-size: 3.97vw;
                font-family: 'Montserrat-Regular' !important; // font-family: 'SanFranciscoDisplay_Semibold' !important;
                background: transparent;
            }
        }
    }

    .salonSeparator {
        width: calc(100% - 9vw) !important;
        height: 0.4vw !important;
        background: rgba(226, 226, 226, 0.5);
        margin: 1vw 0 !important;
        position: relative;
        left: 4.5vw;

    }

    .salonSeparator2 {
        width: calc(100% - 9vw) !important;
        height: 0.4vw !important;
        background: rgba(226, 226, 226, 0.5);
        // margin: 1vw 0vw 0vw 0vw !important;
        position: relative;
        left: 4.5vw;

    }
    // .SalonCardScrollContainer {
    //     background: white; // height: 100vh;
    //     // height: 347pt;
    //     // height: 100rem auto;
    //     padding: 0pt !important;
    //     margin: 0pt !important;
    //     .salonCard {
    //         width: 100%;
    //         height: 100%;
    //         background: white;
    //         box-shadow: none;
    //         margin-bottom: 0pt;
    //         .imgFavoriteSalon {
    //             position: absolute;
    //             z-index: 99999999;
    //             width: 30px;
    //             height: 30px; 
    //             margin-top: 15px;
    //             margin-right: 5px;
    //             right: 15px;
    //         }
    //         .salBackImage {
             
    //             // height: 218pt;
    //             width: 100%; // object-fit: fill;
    //             background: linear-gradient(to bottom, rgb(255, 95, 109), rgb(255, 195, 133));
    //             position: relative;
    //             z-index: 0; // margin-top: 30pt;
    //         }
    //         .promotionContainer {
    //             margin-top: 0pt; // padding-top: 5pt;
    //             padding-bottom: 5pt;
    //             background: rgb(255, 95, 109);
    //             box-shadow: none;
    //             width: 100% !important;
    //             .oferrTitle {
    //                 margin: 5pt 10pt 0pt 10pt;
    //                 font-size: 3.7vw;
    //                 width: calc(100% - 20pt);
    //                 white-space: normal;
    //                 overflow: hidden;

    //                 font-family: 'Montserrat-Regular' !important;
    //                 color: white;
    //                 background: transparent
    //             }
    //             .btnViewAllPromotions {
    //                 position: relative;
    //                 margin-right: 10pt !important;
    //                 float: right;
    //                 padding: 0pt;
    //                 margin: 0pt;
    //                 width: 100pt;
    //                 height: 20pt;
    //                 text-align: right;
    //                 color: white;
    //                 font-size: 3.97vw;
    //                 font-family: 'Montserrat-Regular' !important; // font-family: 'SanFranciscoDisplay_Semibold' !important;
    //                 background: transparent;
    //             }
    //         }
    //         .salonName {

    //             margin-top: 10.3pt ;
    //             margin-left: 9.7pt !important;
    //             margin-right: 4pt;
    //             width: calc(100% - 16.5pt);
                
    //             color: rgb(67, 67, 67);
    //             font-size: 4.23vw;
                
    //             text-align: left; 

    //             font-family: 'Montserrat-Bold' !important;
    //             background: transparent;
    //         }///
    //         .SalonAddress {
    //             margin-top: 5.3pt;
    //             width: calc(100% - 13.3pt);
    //             margin-left: 9.7pt !important;
    //             margin-right: 4pt !important; // 
    //             // background: blue;
    //             margin-bottom: 4pt;
    //             position: relative;
    //             // height: 200px;
    //             height: auto;
    //             .lblAddress {
    //                 display: block;
    //                 font-size: 3.7vw;
    //                 width: 100%;
    //                 line-height: 13.5pt;
    //                 color: rgb(150, 150, 150);
    //                 font-family: 'montserrat-light';
    //                 height: auto;
    //                 // float: left;
    //                 margin-top: 0px; //
    //                 //  background: green;
    //                 //  word-wrap: break-word !important;

    //             }
    //             .PinImageWithDistance {
    //                 // width: 100%; //calc(100% - calc(100% - 88pt));
    //                 width: calc(100% - 9pt);
    //                 // height: 15pt; // margin-right: 0pt;
    //                 // margin-left: 0pt !important;
    //                 height: auto;
    //                 overflow: hidden;
    //                 padding: 0pt;
    //                 margin: 0pt;
    //                 float: right;
    //                 font-family: 'Montserrat-Medium'; // 
    //                 // background: deepskyblue;
    //                 .pinImage {
    //                     width: 6pt;
    //                     height: 9pt;
    //                     float: left;
    //                     // position: relative;
    //                     // right: 0pt !important;
    //                     margin-right: 0pt !important; // 
    //                     margin-left: 8pt;
    //                     margin-top: 3.5pt;
    //                     // background: red;
    //                 }
    //                 .pinDistance {
    //                     height: calc(100% - 2pt); // width: calc(100% - 6pt);
    //                     // float: right;
    //                     float: none;
    //                     width: auto;
    //                     overflow: hidden;
    //                     font-size: 3.17vw;
    //                     font-family: 'Montserrat-Regular';
    //                     letter-spacing: 0.4; // 
    //                     // margin-top: 1pt;
    //                     margin: 1pt 0pt 1pt 0pt !important;
    //                     color: rgb(255, 95, 109);
    //                     text-align: left;
    //                     // background: blue;
    //                     text-align: center;
    //                 }
    //             }
    //         }
    //         .salonSeparator {
    //             width: 100%;
    //             height: 19pt;
    //             background: rgb(245, 245, 245) !important; // background: dodgerblue;
    //         }
    //         .ratingCard {
    //             width: 100%;
    //             box-shadow: none; // 
    //             // background: rgb(98, 147, 163);
    //             ul {
    //                 padding: 0pt !important;
    //                 margin-top: 2px;
    //                 margin-bottom: 0pt;
    //                 background: transparent;
    //                 margin-left: 0pt !important;
    //                 &.rating li {
    //                     padding: 3px 0px 0px 0px !important;
    //                     background: none;
    //                     // color: rgb(255, 189, 2);
    //                     color: rgb( 255, 95, 109);
    //                     ion-icon {
    //                         font-size: 5.28vw;
    //                     }
    //                 }
    //             }
    //             .ratingValue {
    //                 margin-top: 3px;
    //                 margin-left: 10px;
    //                 margin-right: 3px;
    //                 float: left;
    //                 white-space: normal;
    //                 text-align: left;
    //                 font-size: 3.88vw;
    //                 font-family: 'SanFranciscoDisplay_Semibold' !important; // font-family: 'Montserrat-Medium' !important;
    //                 // color: rgb(255, 189, 2);
    //                 color: rgb( 255, 95, 109);
    //                 position: relative; // background: red;
    //             }
    //             .withNoRating {
    //                 float: left;
    //                 margin-left: 9px !important;
                    
    //                 position: relative; // background: chocolate;
    //             }
    //             .withRating {

    //                 float: left;
    //                 // margin-left: 2px;
    //                 margin-left: 0px !important;
    //                 position: relative;
    //                 margin-top: 0pt; //  margin-bottom: 14pt;
    //             }
    //             .notEnoughRating {
    //                 text-align: left;
    //                 font-size: 3.17vw;
    //                 float: left;
    //                 white-space: normal;
    //                 font-family: 'Montserrat-Regular' !important;
    //                 color: rgb(150, 150, 150);
    //                 position: relative;
    //                 padding-left: 2pt;
    //                 margin-top: 3pt;
    //                 margin-left: 8px !important;
    //                 margin-bottom: 5pt; // background: green;
    //                 clear: both;
    //             }
    //         }
    //         .ServicesCard {
    //             // width: calc(100% - 88pt);
    //             width: 100%;
    //             margin-top: 8pt;
    //             margin-bottom: 8pt; // background: green;
    //             box-shadow: none;
    //             .lblServiceName {
    //                 font-size: 3.62vw;
    //                 width: calc(100% - ( 10pt + 38pt + 10pt + 8pt));
    //                 height: 15pt;
    //                 line-height: 15pt;
    //                 margin-left: 13.5pt;
    //                 color: rgb(77, 77, 77);
    //                 font-family: 'Montserrat-Medium'; // 
    //                 // background: gold;
    //                 float: left;
    //                 margin-top: 0px;
    //             }
    //             .lblServicePrice {
    //                 font-size: 3.87vw;
    //                 width: 45pt;
    //                 height: 15pt;
    //                 line-height: 15pt;
    //                 margin-right: 3.3pt;
    //                 color: rgb(27, 27, 27);
    //                 font-family: 'Montserrat-Medium'; // 
    //                 // background: red;
    //                 text-align: right;
    //                 float: right;
    //                 margin-top: 0px;
    //             }
    //             .lblServiceTime {
    //                 font-size: 2.92vw;
    //                 width: 50pt;
    //                 height: 8pt;
    //                 line-height: 9pt;
    //                 margin-left: 13pt;
    //                 color: rgb(174, 174, 174);
    //                 font-family: 'Montserrat-Medium';
    //                 margin-top: 2.3pt;
    //                 margin-bottom: 2pt; // background: green;
    //             }
    //         }
    //         .BookAppointmentItem {
    //             width: 100%;
    //             height: 45pt;
    //             border-top-width: 1pt !important;
    //             border-top-color: rgba(167, 167, 167, 0.4); // border: 1px solid rgba(167, 167, 167, 0.4);
    //             background: rgb(255, 255, 255);
    //             .btnBookAppointment {
    //                 width: 133.3pt !important;
    //                 height: 24pt !important;
    //                 border-radius: 1.7pt;
    //                 position: relative;
    //                 left: calc((100% - 133pt)/2);
    //                 right: calc((100% - 133pt)/2);
    //                 transform: translateX(-50);
    //                 margin-top: 10.5pt;
    //                 margin-bottom: 10.5pt;
    //                 background: white;
    //                 color: rgb(255, 95, 109);
    //                 font-size: 3.66vw;
    //                 font-family: 'Montserrat-Medium';
    //                 line-height: 15pt; // background: dodgerblue;
    //             }
    //         }
    //     }
    //     .lblNoData {
    //         width: 100%;
    //         height: 100%;
    //         padding-top: 20%;
    //         align-content: center;
    //         text-align: center;
    //         position: absolute;
    //         margin: auto;
    //         overflow: auto; // background: darkorange;
    //         .imgNothingFound {
    //             height: 195pt;
    //             width: 195pt;
    //         }
    //         .lblNothingFound {
    //             // background: red !important;
    //             align-content: center;
    //             text-align: center;
    //             height: 25pt;
    //             margin-top: 36px; // background: green;
    //             line-height: 25pt;

    //             font-family: 'Montserrat-Regular';
    //             font-size: 5.29vw;
    //         }
    //     }
    // }
}