
.ion-ios-homeIcon,
.ion-md-homeIcon {
  content: url(../assets/imgs/Home.png);
  // width: 34px;
  // height: 28px;
  // padding: 3px;
  opacity: 1.0;
}

.ion-ios-appoIcon,
.ion-md-appoIcon {
  content: url(../assets/imgs/Calendar.png);
  // width: 32px;
  // height: 32px;
  // padding: 3px;
  opacity: 1.0;
}

.ion-ios-notiIcon,
.ion-md-notiIcon {
  content: url(../assets/imgs/notification.png);
  // width: 28px;
  // height: 34px;
  // padding: 3px;
  opacity: 1.0;
}

.ion-ios-profileIcon,
.ion-md-profileIcon {
  content: url(../assets/imgs/settings.png);
  // width: 32px;
  // height: 32px;
  // padding: 3px;
  opacity: 1.0;
}

.tabbar {
  background:rgb(240, 240, 240) !important;
  color: #bbb !important;
  & .tab-button {
      color:black !important;
      & .tab-button-icon {
          color: black !important;

      }

  }
  & .tab-button[aria-selected=true]{
      text-shadow: 1px 0px #eaeaea;
      color:rgb(233, 80, 126) !important;
      & .tab-button-icon {

          color:rgb(233, 80, 126) !important;
      }
  }
}