<ion-header class="ionDefaultHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading"> Confirm Appointment </ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div></div>
  <ion-label no-padding no-margin class="lblSeparator12"></ion-label>
</ion-header>
<ion-content scrollX="false" class="BaseContentContainer">
  <ion-item hidden no-padding no-margin (click)="showStoredCreditDetail()"
    *ngIf="selctedStoredCredit && selctedStoredCredit > 0 ">
    <ion-label no-padding no-margin text-wrap class="lbl-browse-category">Use store credit
      <span class="lbl-product-price-value">{{currencySymbol}} {{ selctedStoredCredit}}</span>
    </ion-label>
    <ion-toggle no-padding no-margin [(ngModel)]="ngModelUseCredit" (ionChange)="ionToggleChanged($event)"
      toggle-class="toggle-light"></ion-toggle>
  </ion-item>
  <ion-item hidden no-padding no-margin (click)="showPromotionDetail()" *ngIf="selectedPromotions">
    <ion-label no-padding no-margin text-wrap class="lbl-browse-category" (tap)="shouldShowPromotionDetailTapped()">Use
      promotional credit
      <span class="lbl-product-price-value">{{currencySymbol}} {{ selectedPromotions.pc_max_value}}* </span>
    </ion-label>
    <ion-toggle no-padding no-margin [(ngModel)]="ngModelUsePromotion" (ionChange)="ionTogglePromotionChanged($event)"
      toggle-class="toggle-light"></ion-toggle>
  </ion-item>

  <ion-label text-wrap class="lblReviewAppointment">Review your Appointment Details</ion-label>
  <salon-card [salonCardOptions]="salonCardOption"></salon-card>


  <ion-label class="lblBoldText">
    <!-- <span class="lblDimText"> Booked</span> -->
    Services
    <!-- <span class="lblDimText"> Booked</span> -->
    <span class="lblDimText"></span>
  </ion-label>
  <ion-card no-padding no-margin no-lines class="selectedServicesCard"
    *ngFor="let service of selectedServicesObjects; let serIndex = index">
    <ion-row no-padding no-margin no-lines class="serviceCellSelected">
      <ion-col hidden no-padding no-margin no-lines class="checkBoxCol" col-1>
        <ion-checkbox hidden item-start class="CheckBox" [checked]="true" [disabled]="true"></ion-checkbox>
      </ion-col>
      <ion-col class="serviceNameCol">
        <ion-label class="serviceName" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>
          {{ service.sser_name }}
        </ion-label>
        <ion-label class="serviceTime" no-padding no-margin no-lines text-capitalize>{{ service.sser_time }} mins
        </ion-label>
      </ion-col>
      <ion-col class="serPriceCol" col-3 col-xs>
        <ion-label no-padding no-margin no-lines text-capitalize text-wrap text-capitalize class="serviceCost">
          {{ currencySymbol }} {{ roundAmount(service.sser_rate) }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
  <div style="margin-top:1vw"></div>
  <ion-label no-padding [hidden]="!appointmentCharges || appointmentCharges === '0' " class="lbl-charges-discount">
    Appointment Charges
    <span class="lbl-charges-discount-value"> {{ currencySymbol }} {{appointmentCharges}}</span>
  </ion-label>
  <!-- <ion-label [hidden]="!appointmentCharges || appointmentCharges === '0' " no-padding no-margin -->
  <ion-label no-padding no-margin [hidden]="!appointmentCharges || appointmentCharges === '0' "
    class="lbl-charges-discount">Discount
    <span class="lbl-charges-discount-value"> - {{ currencySymbol }} {{appointmentDiscount}}</span>
  </ion-label>

  <ion-card no-padding no-margin no-lines class="DateAndTimeBookedCard">
    <ion-row>
      <ion-col col-4>
        <ion-label class="lblBoldTextDate">Date & Time

          <span class="lblDimTextdate"></span>
        </ion-label>
      </ion-col>

      <ion-col col-8 no-padding>
        <ion-label no-padding class="lblTotal">Total
          <span class="lblPrice">{{ currencySymbol }} {{ appointmentTotalPrice }}</span>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row class="DateAndTimeDetailRow">
    <ion-col col-5>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Date
      </ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>{{ AppointmentDateForConfirmation }}
      </ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Day
      </ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>{{ AppointmentDayName }}</ion-label>
    </ion-col>
    <ion-col col-3>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Time
      </ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>
        {{ getSlotFromattedTime(this.selectedSlot.ts_start_time) }}</ion-label>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <button style="text-transform: none;" [disabled]="!gotBookCharges" class="btnConfirmBooking" (click)="btnBookAppointmentTapped()">
    Confirm Booking
  </button>
</ion-footer>