page-add-appointment {
    .ionHeader {
        width: 100%;
        z-index: 999;
        padding-bottom: 10px;
        position: relative;
        background: $Beautyapp-gradient-color;

        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }

            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;

                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .colMenu {

                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
    }

    ul {
        padding: 0px;

        &.rating li {
            padding: 4px 3px !important;
            background: none;
            color: #ffb400;

            ion-icon {
                font-size: 5.29vw;
            }
        }
    }

    .btnNext {
        width: 100%;
        text-align: center;
        line-height: 45px;
        height: 45px;
        align-content: center;
        background-color: $Beautyapp-gradient-color;
        color: white;
        font-size: 4.5vw;
        font-family: $Montserrat-SemiBold !important; // font-family: $Montserrat-SemiBold !important;
        position: absolute;
        margin: 0px;
        bottom: 0px !important; // font-family: SF-Pro-Display-Regular;
    }

    .techSelected {
        border: 0.5px solid rgb(235, 235, 235);
        background: rgb(255, 255, 255);
    }

    .techUnselected {
        border: 0.5px solid rgb(235, 235, 235);
        background: rgb(245, 245, 245);
    }

    .TechnicianListing {
        height: auto;
        margin-top: 16.7pt;
        margin-bottom: 50pt;

        .technicianRowBase {

            width: 100%;
            height: 61pt;
            overflow: hidden;
            width: 100%;

            .leftContainer {
                height: auto;
                .techImage {
                    width: 17vw;
                    height: 17vw;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                }
                // .width: 10vw;
                // height: 10vw;

                .leftContainerInner {

                    width: 100%;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    height: 100%;
                    transform: translateY(-50%);
                    padding-left: 1vw !important;

                    .checkBoxCol {
                        width: 12.7pt;
                        margin-left: 0pt;
                        margin-right: 0pt;
                        margin: auto;

                        .checkboxText {

                            position: relative;
                            top: 50% !important;
                            transform: translateY(-50%);

                        }
                    }

                    .TechNameCol {
                        width: 34.3pt;
                        margin-left: 0pt;
                        margin-right: 0pt;
                        margin: auto;

                    }
                }
            }

            .rightContainer {

                .techNamelb {
                    margin-top: 1vw;
                    text-align: left;
                    width: 100% !important;
                    overflow: hidden !important;

                    color: rgba(255, 95, 109, 0.9);
                    font-family: $Montserrat-SemiBold !important;
                    font-size: 4vw;
                    // background: purple !important;
                    position: relative;
                    top: 35%;
                    transform: translateY(-35%);
                }
                .specialityvaluelb {
                    font-family: $Montserrat-SemiBold !important; //font-family: $Montserrat-Bold !important;
                    line-height: 10pt;
                    margin-top: 2pt;
                    margin-bottom: 5pt !important;
                    font-size: 3vw;
                    color: rgb(174, 174, 174);
                    width: 100% !important;
                    
                    // background: chocolate !important; 
                    position: relative;
                    top: 35%;
                    transform: translateY(-35%);
                }
                .TechAvailbilitycol {
                    margin: auto;
                    float: right;

                    .availabilitylb {
                        font-family: $Montserrat-Bold !important;
                        margin-top: 14.7pt;
                        font-size: 4.23vw;
                        color: rgb(77, 77, 77);
                        line-height: 12pt;
                    }

                    .availabilityvaluelb {
                        height: 22pt;
                        line-height: 10pt;
                        font-family: $Montserrat-Bold !important;
                        margin-top: 2pt;
                        font-size: 3.17vw;
                        color: rgb(174, 174, 174);
                    }
                }

                .TechSpecialityCol {
                    width: 34.3pt;
                    margin-left: 0pt;
                    margin-right: 0pt;
                    margin-top: 10pt;

                    .specialitylb {
                        // font-family: $Montserrat-Bold !important;
                        // font-family: $Montserrat-SemiBold !important; // background: green;
                        font-family: $Montserrat-SemiBold !important;
                        font-size: 3.7vw;
                        line-height: 12pt; // background: green;
                        height: 10pt;
                        color: rgb(77, 77, 77);
                    }

                    .specialityvaluelb {
                        font-family: $Montserrat-SemiBold !important; //font-family: $Montserrat-Bold !important;
                        line-height: 10pt;
                        margin-top: 2pt;
                        margin-bottom: 5pt !important;
                        font-size: 12.4vw;
                        color: rgb(174, 174, 174);
                        width: 100% !important;
                        
                        background: chocolate !important; 
                    }
                }

            }
        }
    }

    .content-ios {
        color: white;
    }

    ion-content.innerContent .scroll-content {
        overflow-y: hidden !important; // background: purple;
    }

    .title {
        z-index: 999;
        margin-top: 35pt;
        position: absolute;
        width: 100%;
        align-content: left !important;
        text-align: left !important;
    }

    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        margin-top: -50px;
    }

    ion-list.app-list {
        margin: 0px 0 -10px 0 !important;
        background: -o-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background: -moz-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background: -webkit-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background: linear-gradient(90deg, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background-position: 28px;
        background-repeat: repeat-y;
        background-size: 1.2px; // border-bottom: 1px solid rgba(109, 108, 107, 0.37);

        .categoryHeader {
            height: 5.27vh !important;
            margin-top: 1.5vh; // background: deeppink !important;

            .item-inner {
                // background: purple !important;
                height: 5.27vh;
                line-height: 35px;

                .input-wrapper {
                    .label {
                        font-size: 3.294vh;
                        font-family: $Montserrat-SemiBold !important; // background: green;
                        height: 5.27vh;
                        margin-top: 0px !important; // background: red !important;
                    }
                }
            }
        }
    }

    .headerLabel {
        position: absolute;
        bottom: 16.5px;
        left: 13.5px;
        text-align: center;
        font-size: 8.7vw;
        font-family: $Montserrat-SemiBold !important; // background: green;
        color: white
    }

    .backIcon {
        margin-top: 20pt;
        padding-right: 10px;
        width: 50px;
        height: 40px;
        background: transparent;
        height: 40px;
        padding: 0px;
        margin-left: 5pt;
        opacity: 1.0;
    }

    .backIcon:active {
        background-color: transparent;
    }

    .backIcon:focus {
        background-color: transparent;
    }

    .chooseTechLabel {
        font-family: 'montserrat-bold' !important;
        font-size: 4.23vw;
        color: rgb(35, 31, 32); //opacity: 90%;
        // font-size: 5.9vw;
        // font-family: $Montserrat-Bold !important;
        //font-family: $Montserrat-Bold !important;
        // font-family: $Montserrat-SemiBold !important;
        padding-left: 10.7pt;
        line-height: 15px;
        letter-spacing: 0.4px;
        padding-top: 22px;
        margin: 0px !important;
        color: rgba(27, 27, 27, 0.9);
    }

    .SubStyleAtTopPostion {
        width: 100%;
        height: 45px;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);

        img.imgSubStyle {
            width: 35px;
            height: 35px;
            border-radius: 5px;
            float: left; // margin-top: 0px;
        }

        .lblSubStyleName {
            // background: red;
            line-height: 40px;
            width: 4px;
            height: 100%; // margin-right: 20px;
            margin-top: 0px;
            box-shadow: none;
            border: none;
            font-size: 3.97vw;
            font-family: $Montserrat-Medium !important;
        }

        .note {
            color: #000;
            font-size: 4.63vw;
            font-family: $Montserrat-SemiBold !important;
        }
    }

    .chooseServicesLabel {
        font-size: 6.34vw;
        font-family: $Montserrat-SemiBold !important;
        padding-left: 14.5px;
        line-height: 15px;
        letter-spacing: 0.4px;
        padding-top: 22px;
        margin-top: 0px !important;
        color: rgb(60, 60, 60);
        height: 64px;
        border: 0.5px solid rgb(225, 225, 225);
    }

    .header-image {
        background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
        height: 40vh;
    }

    // .main-content {
    //     background-color: map-get($colors, dark);
    //     box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.3);
    // }
    ion-segment {
        padding: 0px 0px;
        opacity: 0.7;
        position: relative;
        top: -50px;
    }

    ion-segment-button {
        border-color: map-get($colors, primary) !important;
        color: #fff !important;
    }

    ion-card {
        background-color: #fff;
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
        position: relative;
        top: -30px;
    }

    ion-card:last-of-type {
        margin-bottom: 0 !important;
    }

    ion-item {
        background-color: #fff;
    }

    .slidesContainer {
        width: 100%; // border-radius: 100px !important;
        // height: 85vh !important;
        margin-top: 0px;
        margin-bottom: 15px;
        z-index: 100; // .btnTagObject {
        box-shadow: none !important;

        .techScrollView {
            // background: red !important;
            margin-left: 10px !important;
            margin-right: 10px !important;
            height: 90px;
            margin-top: 30px;

            .scroll-content {
                overflow-y: hidden; // background: red;
            }

            .techCell {
                // padding: 5px 5px 5px 5px;
                margin-top: 15px;
                text-align: center;

                img {
                    margin: 0px;
                    border-radius: 25px;
                    width: 50px;
                    height: 50px;
                }
            }

            .techCellBig {
                // padding: 5px 5px 5px 5px;
                text-align: center;

                img {
                    margin: 0px !important;
                    border-radius: 40px;
                    width: 80px;
                    height: 80px;
                }
            }
        }

        .techName {
            color: black;
            font-size: 5.29vw;
            font-family: $Montserrat-Bold !important;
            width: 100%;
            margin: 0px;
            margin-top: 10px;
            text-align: center;
        }

        .techSpeciality {
            color: rgb(150, 150, 150);
            text-align: center;
            font-size: 3.97vw;
            font-family: $Montserrat-SemiBold !important;
            margin-top: 8px;
            width: 100%;
        }

        .techAvailability {
            color: rgb(150, 150, 150);
            text-align: center;
            width: 100%;
            font-family: $Montserrat-SemiBold !important;
            margin-top: -4px !important;
            font-size: 3.97vw;
        }
    }

    .serviceCellNormal {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        margin-bottom: .98vh;
        height: 5vh !important; // 

        // background: gold !important;
        .serviceInfo {
            margin-top: 0px; // background: grey; 
            height: 100%;

            .service-heading {
                font-size: 4.76vw;
                width: 35vh;
                height: 60%; // 
                // background: purple;
                line-height: 25px;
                text-align: left;
                font-family: $Montserrat-SemiBold !important; // font-weight: 500;
                color: #000;
            }

            .approx-time {
                // background: darkorange;
                font-size: 3.43vw; // background: red;
                height: 35%;
                line-height: 13px;
                margin-bottom: 0px !important;
                font-family: $Montserrat-SemiBold !important;
                color: rgb(80, 80, 80);
            }
        }

        .note {
            color: #000;
            font-size: 4.63vw;
            font-family: $Montserrat-SemiBold !important;
        }
    }

    .serviceCellMedium {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        margin-bottom: .98vh;
        height: 8.5vh !important; // 

        // background: dodgerblue !important;
        .serviceInfo {
            margin-top: 0px; // background: grey; 
            height: 100%; // background: chocolate;

            .service-heading_smallFont {
                font-size: 4.23vw;
                width: 100%;
                height: 65%;
                line-height: 20px;
                text-align: left; // background: green;
                font-family: $Montserrat-SemiBold !important; // font-weight: 500;
                color: #000;
            }

            .approx-time {
                font-size: 3.43vw; // background: red;
                height: 35%;
                margin-bottom: 0px !important;
                font-family: $Montserrat-SemiBold !important;
                color: rgb(80, 80, 80);
            }
        }

        .note {
            color: #000;
            font-size: 4.63vw;
            font-family: $Montserrat-SemiBold !important;
        }
    }

    .serviceCellLarger {
        margin-top: 0vh;
        margin-bottom: .0.7vh;
        margin-bottom: .0.7vh;
        height: 12vh !important; // 

        // background: dodgerblue !important;
        .serviceInfo {
            margin-top: 0px; // background: grey; 
            height: 100%; // background: chocolate;

            .service-heading_smallFont {
                font-size: 4.23vw;
                width: 100%;
                height: 70%;
                line-height: 20px;
                text-align: left; // background: green;
                font-family: $Montserrat-SemiBold !important; // font-weight: 500;
                color: #000;
            }

            .approx-time {
                font-size: 3.43vw; // background: red;
                height: 20%;
                margin-bottom: 0px !important;
                font-family: $Montserrat-SemiBold !important;
                color: rgb(80, 80, 80);
            }
        }

        .note {
            color: #000;
            font-size: 4.63vw;
            font-family: $Montserrat-SemiBold !important;
        }
    }

    .circle-pic {
        width: 50px;
        height: 50px;
        background-color: red;
        border-radius: 25px;
    }

    $toolbar-background: blue;

    .buttonSpec {}

    .time {
        text-align: right;
    }

    .time2 {
        text-align: center;
    }

    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: 0px;
    }

    .list-header {
        font-weight: 500;
        font-size: 4.76vw;
        padding: 10px;
        color: #000000;
        background-color: transparent;
        text-align: left;
    }

    .notification_list {
        background-color: #ffffff;
    }

    .item-inner {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .full_card_width {
        width: 100%;
        height: 100%;
    }

    .header_border {
        width: 100%;
        height: 100%;
        width: 100%;
        height: 2px;
        margin-top: 10px;
        background-color: #F5F5F5;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .label-ios {
        margin: 10px 0px 0px 0px;
    }

    .label-md {
        margin: 10px 0px 0px 0px;
    }

    .review-heading {
        text-align: center;
        font-size: 1.8rem;
        font-size: 20pt;
        font-weight: 200pt;
    }

    // .review-heading {
    // text-align: center;
    // font-size: 1.8rem;
    // font-weight: 200;
    // }
    .item-divider-ios {
        background-color: white !important;
        font-size: 5.29vw;
        font-weight: 500;
    }

    .item-ios {
        background: none;
    }

    .verticalSeparator {
        border-left: 1px solid;
        position: absolute;
        top: 14 !important;
        left: 28px;
        z-index: -10;
        color: rgba(17, 17, 17, 0.5);
    }

    p.verticalSeparator {
        margin-top: 75px;
    }

    .checkbox-ios .checkbox-icon {
        border-color: #000;
        background-color: white;
    }

    .checkbox-ios .checkbox-checked {
        border-color: #000 !important;
        background-color: white !important;
    }

    .checkbox-ios .checkbox-icon:after {
        border-color: blue; //whatever you like it to be
    }

    .toolbar-title-ios {
        font-size: 1.5rem;
        font-weight: 200;
    }

    .service-footer {
        padding: 0px;
        margin-bottom: 1.6px;
        background-color: #8b8b8b;
        height: 30pt;
    }

    .lbltotalPrice {
        text-align: right;
        background-color: transparent !important;
        float: right;
        color: white;
        line-height: 40px;
        font-family: $Montserrat-SemiBold !important;
        margin-top: 0pt;
        text-align: right;
        padding-right: 10pt;
    }

    .lbltotalTime {
        text-align: left;
        vertical-align: middle;
        font-family: $Montserrat-SemiBold !important;
        line-height: 40px;
        background-color: transparent !important;
        float: left;
        margin-top: 0pt;
        padding-left: 10px;
        color: white;
        text-align: left;
    }

    .content-ios {
        background-color: transparent !important;
    }

    .scroll-content {
        padding: 0px 0px 0px 0px !important;
        background: white;
    }

    #ttitle {
        font-size: 3.88vw;
        padding-left: 5pt;
        width: 50%;
        height: 100%;
    }

    #tvalue {
        font-size: 5.29vw;
        width: 50%;
        height: 100%;
    }

    .fotterr {
        height: 90px;
        margin-top: 0pt;
        padding-top: 0pt;
    }

    .no-scroll .scroll-content {
        overflow-y: hidden;
    }

    .nextButton {
        width: 100%;
        text-align: center;
        line-height: 50px;
        height: 50px;
        align-content: center;
        background: $Beautyapp-gradient-color;
        ;
        color: white;
        font-size: 5.29vw;
        font-family: $Montserrat-SemiBold !important;
        position: absolute;
        margin: 0px;
        bottom: 0px !important;
    }

    .nextButton:focus {
        background: $Beautyapp-gradient-color;
    }

    .nextButton:active {
        background: $Beautyapp-gradient-color;
    }

    .backButton {
        margin-left: 20pt;
        position: absolute;
        font-size: 30px;
        color: white
    }
}