page-home {

    .home-content{
        // margin: 0vw !important;
        // background: purple !important
    }

    .miniHeader {
        height: 50pt;
        background: $Beautyapp-gradient-color;
        animation: slideInHeader 0.5s 0s ease-in-out forwards;

        .backIcon {
            width: 35px;
            height: 15px;
            margin-top: 31pt;
            margin-left: 12.5pt;
            margin-bottom: 0pt;
            z-index: 99999; // 
            transition: 0.2s linear;
        }

        .colCartImage {
            background: transparent;
            width: 22px;
            margin-top: 31pt !important;

            img {
                height: 19pt;
                width: 22pt;
                margin-top: -3px;
                float: right;
            }
        }

        .menuIcon {
            width: 30px;
            height: 17px;
            margin-top: 31pt;
            position: absolute;
            right: 15.5pt;
            z-index: 1; // 
            transition: 0.2s linear; // background: green;
        }

        .header-title {
            color: #ffffff;
            font-family: $Montserrat-Bold !important; // font-size: 5.29vw;
            width: 100%;
            margin-top: 14px !important;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 4.63vw !important;
        }
    }

    .ionHeader {
        padding-bottom: 5px !important;
        width: 100%;
        z-index: 999;
        position: relative;
        background: $Beautyapp-gradient-color;

        .headerRow {

            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 48pt !important;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }

            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;

                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    // background: green !important;
                }
            }

            .colMenu {

                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 21pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }

        .searchIcon {
            // height: 13px;
            // width: 52px;
            height: 16.5pt;
            width: 16.5pt;
            float: left;
            margin-left: 14.5pt;
            margin-top: 9.5pt;
        }

        .divInput {
            width: calc(100% - 30pt);
            margin-left: 15pt;
            margin-right: 15pt;
            height: 40.5px; // padding-bottom: 2px !important; // top: 0 ;
            margin-top: 10px;
            border-radius: 24.5pt;
            background: white; // background: orange;

            // width: calc(100% - 20px);
            // height: 36pt; 
            // background: white; 
            // z-index: 9898897900;
            // position: absolute;
            // left: 10px !important;
            // right: 10px !important;
            // margin-top: 20pt;
            // border-radius: 22px;  
            .topInputField {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                letter-spacing: 1.5pt;
                float: right;
                width: 78%; // border: 2px solid red;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px; // margin-top: 2px;
                // padding: 10px;
                //   height: 100%; // line-height: 18px;
                //  line-height: 20pt;
                text-align: center !important;
                object-fit: contain;
                color: rgba(0, 0, 0, 0.54); // line-height: 15px !important;
                margin-right: 15px;
                font-size: 4.65vwpt;
                background: white;
                height: 40px;
                color: rgba(0, 0, 0, 0.54);
                font-family: $Montserrat-Medium; // font-family: 'SFProDisplay-Medium' !important; // background: purple;
            }
        }

        .searchSection {
            width: calc(100% - 50px);
            margin-left: 15pt;
            margin-right: 25pt;
            height: 40.5px;
            margin-top: 4Vw;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px; // border-left: 5px solid black;
            // border-radius: 24.5pt;
            border-radius: 5px !important; // background: white !important;
            background: white;
            color: #ffffff !important;

            .searchInput {
                ::placeholder {
                    color: rgb(67, 67, 67) !important;
                    font-family: $GothamRounded-Book;
                }

                color:white !important;
                height: 40.5px;
                float: left; // background: #808080 !important;
                width: calc(100% - 90px);
                font-family: $GothamRounded-Book;
            }

            ion-input {
                color: white !important;
                padding-left: 10px;
                font-size: 3.7vw;
                font-family: $montserrat-light;
            }

            .searchInputField {
                border-top-left-radius: 10px !important;
                border-bottom-left-radius: 10px !important;
                height: 10.7vw;
                color: black !important;
                width: 100% !important;
                font-family: $Montserrat-Medium !important;
            }

            .searchButton {
                text-align: center !important;
                align-content: center !important;
                float: right;
                width: calc(70px);
                margin-left: 10pt;
                height: 40.5px;
                border-left: 1px solid white;

                background: white(170, 33, 83) !important;

                .serachlbl {
                    color: white !important;
                    font-size: 3.97vw;
                    font-family: $Montserrat-Regular;
                    margin-top: 12px !important;
                }
            }

            .clear {
                clear: both;
            }
        }

        .BaseGenderSegment {
            //background: white !important;
            width: calc(100% - 30pt);
            margin-left: 15pt;
            margin-right: 15pt;
            height: 40.5pt; // position: absolute;
            // bottom: 0;
            padding-bottom: 2px !important; // top: 0 ;
            margin-top: 20pt; // bottom: -23.5pt;
            border-radius: 24.5pt; // z-index: 99999 !important;

            // margin-bottom: 15pt !important;
            .GenderSegement {
                background: transparent !important;
                width: 100%;
                height: calc(100% - 5pt);
                margin-bottom: 0pt !important;

                .segment-button {
                    height: 25pt;
                    background: transparent !important;
                    border-color: transparent !important;
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    line-height: 25pt !important; //color: rgb(35, 31, 32);
                    color: white !important;
                    font-size: 3.97vw;
                    line-height: 30pt !important; // font-family: $Montserrat-SemiBold !important;
                    font-family: $Montserrat-Regular;
                }

                .segment-button.segment-activated {
                    height: 25pt;
                    line-height: 25pt !important;
                    margin-bottom: 0pt !important; //   color: rgb(35, 31, 32);
                    color: white !important;
                    font-size: 4.5vw;
                    font-family: $Montserrat-Regular;
                    line-height: 30pt !important;
                }
            }

            .sliderContainer {
                margin-left: 22pt !important;
                margin-right: 22pt !important;
                margin-top: 3pt;
                height: 2pt;
                width: calc(100% - 44pt) !important;
                background-color: transparent;
                box-shadow: none;

                .slider {
                    background: white !important; //  background-color: rgb(236, 78, 137) !important;
                    height: 100% !important;
                    margin-bottom: 0pt !important;
                    width: calc(50% - 20pt); // float: right;
                    padding-top: 5pt !important;
                    margin-top: 0px;
                    margin-bottom: 0pt;
                    margin-left: 1px;
                }
            }
        }
    }

    ion-content {
        background: white;
        margin-top: 5px;
    }

    @keyframes slideInHeader {
        0% {
            opacity: 0;
            transform: translateY(-100px) // transform: scale(0.7);
        }

        100% {
            opacity: 1;
            transform: translateY(0px) // transform: scale(1);
        }
    }

    @keyframes slideOutHeader {
        0% {
            // opacity: 1;
            transform: translateY(0px) // transform: scale(0.7);
        }

        100% {
            // opacity: 0;
            transform: translateY(-100px) // transform: scale(1);
        }
    }

    ul {
        padding: 0pt;
        margin-top: 5pt;
        margin-bottom: 0pt;

        &.rating li {
            padding: 3pt 0pt 0pt 0pt !important;
            background: none; // color: rgb(255, 189, 2);
            color: rgb(222, 32, 90);

            ion-icon {
                font-size: 5.29vw;
            }
        }
    }

    .notRated {
        text-align: left;
        font-size: 7pt;
        float: left;
        white-space: normal;
        font-family: $Montserrat-SemiBold !important;
        color: rgb(150, 150, 150);
        position: relative;
        width: 100%;
        padding-left: 2pt;
        margin-top: 3pt;
        margin-left: 16px;
        padding-bottom: 14pt;
    }

    .starsParent {
        float: left;
        margin-left: 16px;
        position: relative;
        margin-top: 0pt;
    }

    .ratingInt {
        margin-left: 16pt;
        text-align: left;
        font-size: 3.17vw;
        float: left;
        margin-top: 5pt;
        white-space: normal;
        font-family: $Montserrat-Medium !important;
        padding-top: 3pt; // color: rgb(255, 189, 2);
        color: rgb(222, 32, 90);
        position: relative;
    }

    .promotionContainer {
        margin-top: -4pt;
        padding-top: 5pt;
        padding-bottom: 5pt;
        background: rgb(255, 95, 109); // background: $Beautyapp-gradient-color;
    }

    .starsParentNoPadding {
        float: left;
        margin-left: 2px;
        position: relative;
        margin-top: 0pt;
        margin-bottom: 14pt;
    }

    .backButton {
        position: absolute;
        bottom: 50px;
        text-align: center;
        font-size: 30px;
        color: white
    }

    .backIcon {
        width: 40px;
        margin-top: 30px;
        background: transparent;
        height: 40px;
        color: white;
        padding: 0px;
        opacity: 1.0;
    }

    .SalonServicesSearchListingScroll {
        background: white !important;
        width: 100%;
        height: 80vh !important;
        margin-top: 10px;
        margin-bottom: 15px;
        z-index: 100; // .btnTagObject {
        box-shadow: none !important; // background: green;

        .SalonServicesSearchCard {
            // background: darkgoldenrod !important;
            // margin-top: 15px !important;
            margin-right: 5px !important;
            background: white; // width: 100% !important;
            display: inline-block;
            height: 100% !important;
            box-shadow: none;
            opacity: 1;

            ion-card-content {
                height: 4.3vh;
                box-shadow: none; //
                //  background: deepskyblue;
                padding: 0px 0px 0px 10px !important; // background: transparent; // .imgHash {

                .lblSalonOrServiceName {
                    // margin-top: 4px;
                    margin-left: 0px !important; // height: 3.8vh !important;
                    width: 100% !important;
                    line-height: 2.8vh;
                    color: grey;
                    font-family: $Montserrat-Medium !important;
                    font-size: 4.76vw;
                    letter-spacing: 1px;
                    float: left; // 
                    // background: purple;
                    margin-bottom: 5px; // border: 1px solid purple;
                }
            }
        }
    }

    .ProvidingUpperHeading {
        position: absolute;
        bottom: 16.5px;
        left: 13.5px;
        text-align: center;
        font-size: 8.7vw;
        font-family: $Montserrat-SemiBold !important;
        color: white; //  font-family: $Montserrat-SemiBold !important;
    }

    ion-icon {
        font-size: 35px;
        margin-left: 3px;
    }

    .promotions {
        .oferrText {
            position: relative;
            top: -2px;
            padding-top: 4pt;
            font-size: 3.88vw;
            width: 100%;
            white-space: normal;
            overflow: hidden;
            font-family: $Montserrat-SemiBold !important;
            color: white;
            margin-left: 16pt;
            padding-right: 16pt;
        }

    }

    .PinImageWithDistance {

        // background: deeppink !important;
        .locationImage {
            padding-left: 10px;
            position: relative;
            width: 14pt;
            height: 10pt; // background: red;
            margin-right: 0pt !important;
            margin-top: 2pt;
            margin-left: 0pt;
        }

        .distance {
            font-family: $Montserrat-SemiBold !important;
            padding-left: 0pt;
            padding-right: 19pt;
            float: right;
            color: rgb(255, 95, 109);
            font-size: 3.44vw; // background: green;
        }
    }

    .salonCard {
        width: calc(100% - 8vw);
        background: white !important;
        box-shadow: none;

        margin: 3.7vw 4vw !important;

        .right-arrow {
            width: 2.116vw !important;
            height: 4.23vw !important;
            position: absolute;
            z-index: 99999999;
            margin-top: 7vw;
            margin-right: 3.5vw;
            right: 3.64vw;
        }

        .imgFavoriteSalon {
            position: absolute;
            z-index: 99999999;
            width: 7.93vw;
            height: 7.93vw;
            margin-top: 1.5vw;
            margin-right: 0.5vw;
            right: 3.64vw;
        }

        .doctor-info-row {
            min-height: 22vw;
        }

        .col-img-doctor {
            &:first-of-type {
                flex: 0 0 25%;
            }
        }

        .salBackImage {
            width: 17vw;
            height: 16vw;
            background: $Beautyapp-gradient-color;
            position: relative;
            z-index: 0;

            border-radius: 50%;
            position: relative;
            top: 4.2vw;
            left: 4.5vw;

            // background: green;
        }

        .salonName {

            margin-left: 3vw !important;

            width: calc(100% - 3vw);

            color: rgb(67, 67, 67);
            font-size: 3.9vw;
            text-align: left;
            font-family: 'Montserrat-Bold' !important;
            background: transparent;
            position: relative;
            top: 4.6vw;
            position: relative;
            // background: green;
            
        }

        .SalonAddress {
            margin-top: 5.3pt;
            width: calc(100% - 13.3pt);
            margin-left: 9.7pt !important;
            margin-right: 4pt !important; //
            margin-bottom: 4pt;
            position: relative;

            .lblAddress {
                font-size: 3.7vw;
                width: 100%;
                line-height: 13.5pt;
                color: rgb(150, 150, 150);
                font-family: 'montserrat-light';
                float: left;
                margin-top: 0px;
            }

            .PinImageWithDistance {
                // width: 100%; //calc(100% - calc(100% - 88pt));
                width: calc(100% - 9pt); // height: 15pt; // margin-right: 0pt;
                // margin-left: 0pt !important;
                height: auto;
                overflow: hidden;
                padding: 0pt;
                margin: 0pt;
                float: right;
                font-family: 'Montserrat-Medium'; // 

                // background: deepskyblue;
                .pinImage {
                    width: 6pt; // height: 9pt;
                    height: calc(100% - 2pt);
                    float: left; // position: relative;
                    // right: 0pt !important;
                    margin-right: 0pt !important; // 
                    margin-left: 8pt;
                    margin-top: 3.5pt; // background: red;
                }

                .pinDistance {
                    height: calc(100% - 2pt);

                    float: none;
                    width: auto;
                    overflow: hidden;
                    font-size: 3.17vw;
                    font-family: 'Montserrat-Regular';
                    letter-spacing: 0.4;

                    margin: 1pt 0pt 1pt 0pt !important;
                    color: rgb(255, 95, 109);
                    text-align: left;
                    text-align: center;
                }
            }

        }

        .ratingCard {
            width: 100%;
            box-shadow: none; // 
            max-height: 6vw !important;
            position: relative;
            top: 4.6vw;

            ul {
                padding: 0pt !important;
                margin-top: 2px;
                // margin-bottom: 0pt;
                // background: deeppink;
                margin-left: 0pt !important;

                &.rating li {
                    padding: 3px 0px 0px 0px !important;
                    background: none; // color: rgb(255, 189, 2);
                    color: rgb(89, 185, 75);

                    ion-icon {
                        font-size: 5.28vw;
                    }
                }
            }

            .ratingValue {
                margin-top: 3px;
                margin-left: 10px;
                margin-right: 3px;
                float: left;
                white-space: normal;
                text-align: left;
                font-size: 3.88vw;
                font-family: 'SanFranciscoDisplay_Semibold' !important; // font-family: 'Montserrat-Medium' !important;
                // color: rgb(255, 189, 2);
                color: rgb(89, 185, 75);
                position: relative; // background: red;
            }

            .withNoRating {
                float: left;
                margin-left: 9px !important;
                position: relative; // background: chocolate;
            }

            .withRating {
                float: left; // margin-left: 2px;
                margin-left: 0px !important;
                position: relative;
                padding-bottom: 10px !important;
                margin-top: 0pt; //  margin-bottom: 14pt;
            }

            .notEnoughRating {
                text-align: left;
                font-size: 3.17vw;
                float: left;
                white-space: normal;
                font-family: 'Montserrat-Regular' !important;
                color: rgb(150, 150, 150);
                position: relative;
                padding-left: 2pt;
                margin-top: 3pt;
                margin-left: 8px !important;
                margin-bottom: 5pt; // background: green;
                padding-bottom: 10px !important;
                clear: both;
            }
        }

        .qualification-contact-row {
            // background: dodgerblue !important;
            padding-top: 2px;

            .col-degree-number {
                background: transparent;

                &:first-of-type {
                    flex: 0 0 13%;
                }
            }

            .img-degree {
                width: 8vw;
                height: 8vw;
                // background: $Beautyapp-gradient-color;
                position: relative;
                z-index: 0;
                border-radius: 50%;
                position: relative;
                top: 50%;
                left: 70% !important;
                transform: translate(-50%, -50%);
                // background:chocolate;
            }
        }

        .lblBoldText {

            margin-left: 12px;
            font-size: 4.23vw;
            color: rgb(38, 38, 38);

            font-family: $Montserrat-SemiBold !important;

            // background: deeppink !important;
            .lblDimText {
                text-align: left;
                letter-spacing: 0.3px;
                color: rgba(104, 104, 104, 0.9);
                margin-top: 10px;
                margin-bottom: 15px;
                font-family: $Montserrat-Regular !important;
                // color: green !important;

            }
        }

        .promotionContainer {
            margin-top: 0pt;
            padding-bottom: 5pt;
            background: rgb(255, 95, 109);
            box-shadow: none;
            width: 100% !important;

            .oferrTitle {
                margin: 5pt 10pt 0pt 10pt;
                font-size: 3.7vw;
                width: calc(100% - 20pt);
                white-space: normal;
                overflow: hidden;
                font-family: 'Montserrat-Regular' !important;
                color: white;
                background: transparent
            }

            .btnViewAllPromotions {
                position: relative;
                margin-right: 10pt !important;
                float: right;
                padding: 0pt;
                margin: 0pt;
                width: 100pt;
                height: 20pt;
                text-align: right;
                color: white;
                font-size: 3.97vw;
                font-family: 'Montserrat-Regular' !important; // font-family: 'SanFranciscoDisplay_Semibold' !important;
                background: transparent;
            }
        }
    }

    .salonSeparator {
        width: calc(100% - 9vw) !important;
        height: 0.4vw !important;
        background: rgba(226, 226, 226, 0.5);
        margin: 1vw 0 !important;
        position: relative;
        left: 4.5vw;

    }

    .highlightText {
        color: black;
        font-size: 4.76vw;
        font-weight: bold;
        line-height: 23px;
        font-family: $Montserrat-Medium !important;
    }

    // ANIMATION 
    .slide-Header-In {
        animation: slideInHeader 0.5s 0s ease-in-out forwards;
    }

    .slide-Header-out {
        animation: slideOutHeader 0.5s 0s ease-in-out forwards;
    }

    @keyframes slideInHeader {
        0% {
            opacity: 0;
            transform: translateY(-100px) // transform: scale(0.7);
        }

        100% {
            opacity: 1;
            transform: translateY(0px) // transform: scale(1);
        }
    }

    @keyframes slideOutHeader {
        0% {
            // opacity: 1;
            transform: translateY(0px) // transform: scale(0.7);
        }

        100% {
            // opacity: 0;
            transform: translateY(-100px) // transform: scale(1);
        }
    }

}