<ion-header class="ionDefaultHeader">
    <ion-row no-padding no-margin class="headerRow">
        <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
          <img class="backIcon" src="./assets/imgs/back.png" />
        </ion-col>
        <ion-col col-8 no-padding no-margin class="colHheaderLabel">
          <ion-label class="upperHeading">My Appointments</ion-label>
        </ion-col>
        <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
          <img class="menuIcon" src="./assets/imgs/menu.png" />
        </ion-col>
      </ion-row>
      <div>
      </div>
    
      <ion-label no-padding no-margin class="lblSeparator12"></ion-label>
  <div class="toggle-upcoming-archived-appointmetns" no-margin no-padding>
    <ion-segment no-padding no-margin no-lines [(ngModel)]="GenderBasedTrends" class="GenderSegement">
      <ion-segment-button value="Upcoming" (click)="upcomingClicked()">Upcoming</ion-segment-button>
      <ion-segment-button value="Past" (click)="pastClicked()">Past</ion-segment-button>
    </ion-segment>
    <ion-card no-padding no-margin no-lines class="sliderContainer">
      <ion-card-content no-padding no-margin no-lines class="slider" id="slider_lt">
      </ion-card-content>
    </ion-card>
  </div>
  <ion-label no-padding no-margin class="lblSeparator12"></ion-label>
</ion-header>

<ion-content padding class="content">
  <div *ngIf="publicUser">
    <div class="alreadyRegister">
      <p class="lblAlreadyRegister">
        login or sign up to view appointment<span class="lblLogin" (click)="goToRegisterScreen()"><br />Register</span>
      </p>
    </div>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="getAppointmentsFromServer($event, false)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Fetching Appointments ...">
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <div class="lblNoData" *ngIf="!dataSource || (dataSource.length === 0 && !publicUser)">
      <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
      <ion-label no-padding no-margin text-wrap class="lblNothingFound">There are no appointments available.</ion-label>
    </div>
    <!-- <ion-label class="noAppoLabel" [hidden]="dataSource.length > 0">
            No Appointments to show.
        </ion-label> -->
    <ion-list [hidden]="dataSource.length == 0" no-lines *ngFor="let appo of dataSource" class="apposList">
      <div class="salonName">{{ appo.sal_name }}</div>
      <ion-avatar class="avatar">
        <img class="techPic" [src]="techPicsURL + appo.tech_pic" />
      </ion-avatar>
      <ion-label class="lblcustName">{{ appo.tech_name }}</ion-label>
      <rating [hidden]="appo.app_rating == null || appo.app_status != 'finished'" class="rating"
        [(ngModel)]="appo.app_rating" readOnly="true" max="5" (ngModelChange)="onModelChange($event)"
        emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" value="appo.app_rating"
        nullable="false"></rating>
      <ion-label class="lblStatus">{{ appo.app_status }}</ion-label>
      <ion-label class="lblDate">
        {{ getFormattedDate(appo.app_start_time) }}</ion-label>
      <div no-lines style="height:30px !important" *ngFor="let ser of getAppServices(appo.app_services); let j = index">
        <div style="width:90%;display:flex;margin-left:15px">
          <span class="bullet">•</span>
          <span class="serName">{{ ser }}</span>
        </div>
      </div>
      <div style="height:47px;margin:0px !important;background:white">
        <p style="height:2px !important;background:rgba(0,0,0,0.05);margin-left:15px;margin-right:15px;"></p>
        <div
          style="text-align:center;line-height:43px; position:relative;top:-14px;padding-top:0px; margin-top:0px !important;background:white;height:43px !important">
          <div id="upcoming" item-left class="segmentItem" style="float:left;text-align:left;padding-left:16px;"
            (click)="upcomingClicked()">
            <span style="font-family: Montserrat-Medium !important;font-size:14px; color:black">Time:
            </span>
            <span
              style="font-family: Montserrat-Medium !important;font-size:14px; color:rgb(160, 158, 161)">{{ appo.app_est_duration }}
              Minutes</span>
          </div>
          <div id="past" item-right class="segmentItem" style="float:right;text-align:right;padding-right:16px;"
            (click)="pastClicked()">
            <span style="font-family: Montserrat-Medium !important;font-size:14px;color:black">Cost:
            </span>
            <span
              style="font-family: Montserrat-Medium !important;font-size:14px; color:rgb(160, 158, 161)">{{ currencySymbol }}
              {{ appo.app_price }}</span>
          </div>
        </div>
        <p
          style="height:2px !important; margin-top:-14px;background:rgba(0,0,0,0.05);margin-left:15px;margin-right:15px;">
        </p>
      </div>
      <div class="btnsContainer" [hidden]="appo.app_rating != null || appo.app_status != 'finished'">
        <button class="btnRateIt" (click)="rateAppointemnt(appo)">
          Rate It
        </button>
      </div>
      <div class="btnsContainer" [hidden]="appo.app_status == 'finished' || appo.app_status == 'serving'">
        <button [hidden]="
            !upcomingSelected &&
            appo.app_status != 'accepted' &&
            appo.app_status != 'pending'
          " class="btnCancel" (click)="cancelAppointemnt(appo)">
          <span *ngIf="upcomingSelected">Cancel</span>
          <span *ngIf="!upcomingSelected">Remove</span>
        </button>
        <button class="btnReschedule" (click)="rescheduleAppointemnt(appo)">
          Reschedule
        </button>
      </div>
    </ion-list>
  </div>
</ion-content>