<ion-header class="ionDefaultHeader" >
        <ion-row no-padding no-margin class="headerRow">
          <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
            <img class="backIcon" src="./assets/imgs/back.png" />
          </ion-col>
          <ion-col col-8 no-padding no-margin class="colHheaderLabel">
            <ion-label class="upperHeading">Book Appointment</ion-label>
          </ion-col>
        </ion-row>
        <div>
        </div>
        <ion-label no-padding no-margin class="lblSeparator12"></ion-label>
</ion-header>

<ion-content (ionScroll)="scrollHandler($event)" >
    <!-- slot view section  -->
    <div *ngIf="!showCustomerProfile" >
    <div class="chooseDateTimeLabel">Choose Date & Time</div>
    <ion-item class="SubStyleAtTopPostion" *ngFor="let service of subStyleServicesObject let i=index">
        <img item-left class="imgSubStyle" [src]="pinImage" />
        <ion-label class="lblSubStyleName"> {{service.sser_name}} </ion-label>
    </ion-item>
    <div class="lblNoData"  class="lblNoData" [hidden]="techSlots.length > 0" >

            <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
            <ion-label class="lblNothingFound">No slot available for selected date</ion-label>
        </div>
    <div>
        <calendar [calendarOptions]="calendarOption" 
        (dateSelected)="dateClicked($event)"></calendar>
    </div>
    <ion-card *ngIf="salonOfferTitle" no-lines no-padding no-margin class="promotionContainer" >
        <ion-label no-padding no-margin class="oferrTitle">{{salonOfferTitle}}</ion-label>
      </ion-card>
    <div class="SlotListing" style="margin-bottom:60px; ">
            <ion-row class="slotRowBase" *ngFor="let slot of techSlots let i=index;" 
            (click)="slotDidSelected(slot , i)" 
            [ngClass]="slot.isSelected ? 'slotSelected' : 'slotUnSelected' " >
            
            <ion-col col-2 class="checkBoxCol">
                    <ion-checkbox item-start  item-start (click)="slotDidSelected(slot ,i)"
                     [checked]="slot.isSelected">
                    </ion-checkbox>

                </ion-col> 
                    <ion-col no-padding no-margin col-10 class="slotTime">
                            <ion-label no-padding no-margin text-capitalize class="timelbl">
                                    {{getSlotTimeWithoutSuffix(slot.ts_start_time)}}
                            </ion-label>
                            <ion-label no-padding no-margin text-capitalize class="timevaluelbl">
                                    {{getSlotAmPm(slot.ts_start_time)}}
                            </ion-label>
                    </ion-col>
            </ion-row>
        </div>
    </div>
    <!-- user information input section -->
    <ion-list *ngIf="showCustomerProfile"  no-lines no-margin no-padding style="	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;   text-align: center; " class="ionItem">
    <p class="EnterActivationCode" style="font-size:14px; ">
      To complete Appointment please provide your name, email.
    </p>
    <div style="margin: 5%;">
      <ion-input  type="text" maxlength="100" [(ngModel)]="firstname" (keyup)="OnValueEnterName($event.target.value)" placeholder="Please enter your name"
        style=" 
     font-family: $Montserrat-Medium !important;font-size:15.6px;
     background: rgb(235, 235, 235);;width:100%;"></ion-input>
      <p style="margin-right:10%;" ion-text [hidden]="isValidName" color="danger" padding-left>
        {{errorMessageName}}
      </p>
    </div>
    <div style=" margin: 5%;">
      <ion-input type="text" maxlength="100" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="email" (keyup)="OnValueEnterEmail($event.target.value)"
        placeholder="Please enter your email" style="font-family: $Montserrat-Medium !important;font-size:15.6px;
          background: rgb(235, 235, 235);width:100%;" [(ngModel)]="username"></ion-input>
      <p style="margin-right:10%;" ion-text [hidden]="isValidEmail" color="danger" padding-left>
        {{errorMessageEmail}}
      </p>
    </div>
      <ion-list radio-group [(ngModel)]="customerGender" class="GenderList">
        <ion-item [ngClass]="isGenderMale ? 'SelectedMaleGender':'maleGender' " >
          <ion-radio value="male" checked="isGenderMale" (ionSelect)="genderMaleTapped()" ></ion-radio>
          <ion-label>I am male</ion-label>
        </ion-item>
        <ion-item  [ngClass]="!isGenderMale ? 'SelectedfemaleGender': 'femaleGender'">
            <ion-radio value="female" checked="!isGenderMale" (ionSelect)="genderFemaleTapped()" ></ion-radio>
            <ion-label>I am female</ion-label>
          </ion-item>
      </ion-list>
    <div class="custom_button" (click)='OnCompleteActivation()'>
      <p style="padding:13px;">
        Save Preferences
      </p>
    </div>
  </ion-list>
 <!-- End user information input section -->
</ion-content>
<ion-footer *ngIf="!showCustomerProfile" class="footer">
    <button style="text-transform: none;"  ion-button class="btnNext" [disabled]="!techSlots || techSlots.length === 0" (click)="btnBookAppointmentTapped()">Book Appointment</button>
</ion-footer>