page-salon-details {
   
    .BaseContainer {
        background: rgb(250, 250, 250);

        .salonImagesCard {
            width: 100%;
            height: 144 !important; // background: #ff1493;

            .salBackImage {
                width: 100%;
                height: 144.7pt;
                align-content: center;
                position: relative;
                background: $Beautyapp-gradient-color;
            }

            .salAvatar {
                height: 37.3pt;
                width: 37.3pt;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 0;
                margin-right: 8.7pt !important;
                margin-top: 115pt !important; // background: blue !important;
                z-index: 99999998;
                float: right;
            }

            .ShortSalonNamezz {
                height: 37.3pt;
                width: 37.3pt;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 0;
                margin-right: 8.7pt !important;
                margin-top: 115pt !important; // background: blue !important;
                z-index: 99999998;
                float: right;
                font-size: 10.5pt;
                font-family: $Montserrat-Medium !important;
                padding: 0px !important;
                text-align: center;
                line-height: 38pt;
                background: white;
                color: rgb(255, 95, 109);
                border: 1px solid rgba($color: #000000, $alpha: 0.5) !important; // line-height: 30px;

                .item-inner {
                    border-bottom: none !important;
                }
            }
        }

     

        .SalonAddressCard {
            width: 100%; // height: 46pt;
            background: transparent;
            box-shadow: none;

            .lblAddress {
                padding-top: 10pt;
                margin-top: 15.7pt;
                width: calc(100% - 15pt);
                margin-left: 10.75pt;
                margin-right: 10.75pt;
                line-height: 15pt;
                font-size: 4.92vw;
                color: rgb(150, 150, 150);
                font-family: $Montserrat-Medium !important; // 
                // background: red;
            }

            .PinImageWithDistance {
                height: 13.7pt !important;
                margin-bottom: 5pt;

                .pinImage {
                    width: 6.7pt;
                    height: 10.3pt;
                    float: left;
                    position: relative;
                    right: 0;
                    margin-left: 10.75pt;
                    margin-right: 4pt !important;
                    margin-top: 2.5pt; // background: deeppink;
                }

                .pinDistance {
                    height: 100%;
                    font-size: 4.5vw;
                    font-family: $Montserrat-Medium;
                    letter-spacing: 0.4;
                    line-height: 17pt;
                    margin-top: 2.5pt;
                    margin-left: 0pt !important; // margin-right: 0pt;
                    color: rgb(255, 95, 109);
                    text-align: left; // background: deepskyblue;
                }
            }
        }

        .ShopTimingCard {
            width: 100%; // height: 81pt;
            background: white;
            box-shadow: none;

            .lblTiming {
                font-size: 4.92vw;
                text-align: left;
                letter-spacing: 0.3px;
                color: rgba(104, 104, 104, 0.9);
                margin-left: 10pt;
                margin-top: 13pt;
                margin-bottom: 15pt;
                font-family: $Montserrat-Medium;

                .lblShop {
                    font-family: 'montserrat-bold' !important;
                    font-size: 4.23vw;
                    color: rgb(35, 31, 32); // font-size: 16pt;
                    // color: rgba(27, 27, 27, 0.9);
                    // font-family: $Montserrat-Bold !important;
                }
            }

            .ShopTimingList {
                width: 100%;
                margin-top: 0pt;
                margin-left: 0pt;
                margin-right: 0pt; // background: gold !important;
            }

            .salTimingCard {
                width: 100%;
                height: calc(100% - 6pt) !important;
                margin-left: 0pt;
                margin-right: 0pt; // margin-top: 3pt !important; 
                // margin-bottom: 3pt !important;
                box-shadow: none; // background: deepskyblue;

                .lblDayName {
                    margin-left: 10pt; // font-family: $Montserrat-SemiBold !important;
                    // font-family: $Montserrat-Medium !important;
                    // font-size: 4.5vw; // color: rgb(27, 27, 27);
                    font-family: $montserrat-light !important;
                    font-size: 3.7vw;
                    color: rgb(77, 77, 77);
                    float: left;
                    line-height: 22.5pt; // background: green;
                    // width: calc(60% - 10pt);
                }

                .lblDayTiming {
                    font-family: $montserrat-light !important;
                    font-size: 3.7vw; // font-size: 4.23vw;
                    line-height: 22.5pt; //   font-family: $Montserrat-Medium;
                    text-align: left;
                    color: rgb(27, 27, 27); // color: rgb(77, 77, 77);
                    float: right;
                    margin-right: 7.7pt; // background: red;
                    // width: calc(40% - 7.7pt) ;
                }

                .lblBreakTiming {
                    width: 100%;
                    font-size: 3.88vw;
                    text-align: left;
                    letter-spacing: 0.3px;
                    line-height: 22.5pt;
                    color: rgb(174, 174, 174);
                    margin-left: 10pt;
                    margin-top: 0pt;
                    margin-bottom: 5pt;
                    font-family: $Montserrat-Medium; // background: green;
                }
            }
        }

        .chooseServicesLabel {
            width: 100%;
            height: 35pt;
            font-family: 'montserrat-bold' !important;
            font-size: 4.23vw;
            color: rgb(35, 31, 32); // font-size: 16pt; 
            // font-family: $Montserrat-Bold !important;
            line-height: 10pt;
            letter-spacing: 0.4px; // color: rgba(27, 27, 27, 0.9);
            padding-top: 16pt;
            padding-left: 8.3pt;
            margin-bottom: 0pt !important;
            background: transparent;
            box-shadow: none; // background: green;
        }

        .serviceListingContainer {
            margin-top: 0pt;

            .categoryHeader {
                width: 100%;
                min-height: 50px;
                -webkit-transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
                transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1) !important; // 
                margin-bottom: 0pt;
                box-shadow: none;
                border-bottom: 0.5px solid rgb(225, 225, 225);
                background: transparent;
                margin-top: 0pt !important;
                z-index: 9990;
                background: rgb(235, 235, 235);

                .col-left-image {
                    background: transparent;

                    &:first-of-type {
                        flex: 0 0 10% !important;
                    }
                }

                .imgExpandCollapase {
                    width: 15pt;
                    height: 15pt;
                    margin-left: 8.3pt;
                    margin-right: 2pt;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .lbl-category-name {
                    width: 100%;
                    font-size: 4.23vw;
                    font-family: 'montserrat-bold' !important;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-right: 3pt;

                    .lblTiming {
                        font-size: 4.5vw;
                        text-align: left;
                        letter-spacing: 0.3px;
                        color: rgba(203, 203, 203, 0.9);
                        margin-left: 3pt;
                        font-family: $montserrat-light !important;
                    }
                }

                .lbl-category-selected-color {
                    color: rgba(255, 95, 109, 0.9);
                }

                .lbl-category-un-selected-color {
                    color: rgba(27, 27, 27, 0.9); // font-size: 4.92vw;
                }
            }

            .serviceCellSelected {
                width: 100%;
                background: rgb(235, 235, 235);
                margin-top: 0pt;
                position: relative; // background: gold;
                z-index: 10;

                .checkBoxCol {
                    position: relative;
                    width: 100%;
                    background: rgb(255, 255, 255); //
                    //  background: red !important;
                    margin-bottom: 1pt;

                    .CheckBox {
                        // background: red !important;
                        width: 12.7pt;
                        height: 12.7pt;
                        margin-left: 7pt;
                        float: left;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);

                        .checkbox-icon {
                            border-color: rgb(77, 77, 77);
                            background-color: white;
                        }
                    }
                }

                .serviceNameCol {
                    padding-left: 10pt;
                    background: rgb(255, 255, 255); // background: green;
                    position: relative; // height: 100%;;
                    margin-bottom: 1pt;

                    .serviceName {
                        width: 100%; // font-size: 4.92vw;
                        line-height: 22.5pt; // background: white;
                        text-align: left !important; // font-family: $Montserrat-SemiBold !important;
                        // font-family: $Montserrat-Medium !important;
                        font-size: 3.7vw;
                        font-family: $Montserrat-SemiBold !important;
                        color: rgb(77, 77, 77);
                        padding-left: 5px;
                    }

                    .serviceTime {
                        width: 100%;
                        margin-top: 0pt;
                        text-align: left !important;
                        font-family: $montserrat-light !important;
                        font-size: 3.17vw;
                        color: rgb(174, 174, 174);
                        padding-left: 5px;
                        margin-bottom: 3px !important;
                    }
                }

                .serPriceCol {
                    position: relative;
                    width: 100%; // height: 100%;
                    background: rgb(255, 255, 255); // background: blue;
                    margin-bottom: 1pt; // position: relative;

                    .serviceCost {
                        width: 100%;
                        background: rgb(255, 255, 255);
                        color: rgb(27, 27, 27);
                        margin-top: 0pt !important;
                        font-size: 3.7vw;
                        line-height: 22.5pt;
                        font-family: $Montserrat-Regular; //  font-family: $Montserrat-Medium !important; // line-height: 15pt;
                        text-align: right;
                        padding-right: 3pt !important; // position: relative;
                        // top: 50%;
                        // transform: translateY(-50%);
                    }
                }

                .approx-time {
                    // background: darkorange;
                    font-size: 3.43vw; // background: red;
                    height: 35%;
                    line-height: 13px;
                    margin-bottom: 0px !important; // font-family: $Montserrat-SemiBold !important;
                    font-family: $Montserrat-Bold;
                    color: rgb(80, 80, 80);
                }

                // }
                .note {
                    color: #000;
                    font-size: 4.63vw;
                    font-family: $Montserrat-SemiBold !important;
                }
            }

            .serviceCellUnselected {
                width: 100%;
                background: rgb(235, 235, 235);
                margin-bottom: 1pt;
                position: relative;
                z-index: 10;

                .checkBoxCol {
                    position: relative;
                    width: 100%;

                    .CheckBox {
                        width: 12.7pt;
                        height: 12.7pt;
                        margin-left: 7pt;
                        float: left;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                .serviceNameCol {
                    padding-left: 10pt; // background: green;
                    position: relative; // height: 100%;;
                    margin-bottom: 1pt;

                    .serviceName {
                        width: 100%;
                        line-height: 22.5pt; // 
                        text-align: left !important; // font-size: 4.23vw;
                        // font-family: $Montserrat-SemiBold !important;
                        font-size: 3.7vw;
                        font-family: $Montserrat-SemiBold !important;
                        color: rgb(77, 77, 77);
                        padding-left: 5px;
                    }

                    .serviceTime {
                        width: 100%; // font-size: 3.88vw;
                        // line-height: 22.5pt;
                        margin-top: 0pt; // background: blue ;
                        text-align: left !important; // font-family: $Montserrat-Medium !important;
                        font-family: $montserrat-light !important;
                        font-size: 3.17vw;
                        color: rgb(174, 174, 174);
                        padding-left: 5px;
                        margin-bottom: 3px !important;
                    }
                }

                .serPriceCol {
                    position: relative;
                    width: 100%;
                    margin-bottom: 1pt; // height: 100%; // 

                    // background: blue;
                    .serviceCost {
                        // height: 12.7pt !important;
                        width: 100%; // background: green;
                        color: rgb(27, 27, 27);
                        margin-top: 0pt !important; // font-size: 4.5vw;
                        line-height: 22.5pt; // font-family: $Montserrat-Medium !important; // line-height: 15pt;
                        text-align: right;
                        padding-right: 3pt !important; // position: relative;
                        // top: 50%;
                        // transform: translateY(-50%);
                        font-size: 3.7vw; // line-height: 22.5pt;
                        font-family: $Montserrat-Regular;
                    }
                }

                .approx-time {
                    // background: darkorange;
                    font-size: 3.43vw; // background: red;
                    height: 35%;
                    line-height: 13px;
                    margin-bottom: 0px !important;
                    font-family: $Montserrat-Bold; // font-family: $Montserrat-SemiBold !important;
                    color: rgb(80, 80, 80);
                }

                // }
                .note {
                    color: #000;
                    font-size: 4.63vw;
                    font-family: $Montserrat-SemiBold !important;
                }
            }
        }
    }

    .salonSeparator {
        width: calc(100% - 9vw) !important;
        height: 0.4vw !important;
        background: rgba(226, 226, 226, 0.5);
        position: relative;
        left: 4.5vw;

    }

    
    .footer {
        margin-top: 0pt !important;
        background: rgb(250, 250, 250); // border: 1px solid rgb(225, 225, 225);
        height: 67px; // position: relative;

        .btnBookOrRequestAppointment {
            width: 200pt;
            height: 36px;
            font-family: 'montserrat-bold' !important;
            font-size: 3.7vw;
            line-height: 22.5pt;
            margin-top: 15.5px;
            color: $Beautyapp-gradient-color;
            border: 1px solid  $Beautyapp-gradient-color;;
            border-radius: 1.7pt;
            background: white;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
        }
    }

    .slide-in {
        -webkit-animation: slideInSmooth ease-in 1;
        animation: slideInSmooth ease-in 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 550ms;
        animation-duration: 550ms; // animation-fill-mode: both;
        animation-fill-mode: forwards;
        background: transparent !important;
    }

    @keyframes slideInSmooth {
        0% {
            opacity: 0;
            top: 0px; // transform: translateY(-100%);
        }

        50% {
            top: 10px;
        }

        100% {
            opacity: 1;
            top: 0px; // transform: translateY(0%);
        }
    }

    @-webkit-keyframes slideInSmooth {
        0% {
            opacity: 0;
            top: 0px; // transform: translateY(-100%);
        }

        50% {
            top: 10px;
        }

        100% {
            opacity: 1;
            top: 0px; // transform: translateY(0%);
        }
    }

    .slide-out {
        -webkit-animation: slideInSmooth ease-in 1;
        animation: slideInSmooth ease-in 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 550ms;
        animation-duration: 550ms;
        background: transparent !important;
    }

    @keyframes slideOutSmooth {
        0% {
            opacity: 1;
            transform: translateY(0%);
        }

        100% {
            opacity: 0;
            transform: translateY(-100%);
        }
    }

    @-webkit-keyframes slideOutSmooth {
        0% {
            opacity: 1;
            transform: translateY(0%);
        }

        100% {
            opacity: 0;
            transform: translateY(-100%);
        }
    }
}