<ion-header class="ionDefaultHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Book Appointment</ion-label>
    </ion-col>

  </ion-row>
  <div>
  </div>

  <ion-label no-padding no-margin class="lblSeparator12"></ion-label>
</ion-header>

<!-- old header -->
<!-- <ion-header class="myHeader" >
<img   class="backIcon" src="./assets/imgs/back.png" (click)="btnBackTapped()" />


</ion-header> -->

<ion-content class="BaseContainer">
  
 


  <salon-card   [salonCardOptions]="salonCardOption"></salon-card>
  <div class="salonSeparator"></div>
  <div *ngIf="selectedSalon">
    <ion-card no-margin no-padding no-lines class="ShopTimingCard">
      <ion-label class="lblTiming">
        <span class="lblShop">Opening Hours</span>
      </ion-label>
      <ion-list no-lines no-margin no-padding class="ShopTimingList" *ngFor="let item of salonHours">
        <ion-card class="salTimingCard">
          <span item-left class="lblDayName">{{item.sal_day}}</span>
          <span item-right class="lblDayTiming">{{item.sal_hours}}</span>
        </ion-card>
      </ion-list>
    </ion-card>
    <ion-label class="chooseServicesLabel">Choose the Services</ion-label>
    <div *ngIf="!appointment" style="margin-bottom:70pt ;">

      <ion-list no-padding no-margin no-lines class="serviceListingContainer" scroll="false"
        *ngFor="let category of Categories; let catIndex=index;">

        <ion-row hidden no-padding no-margin no-lines class="categoryHeader" (click)="CategoryExpandableToggle(category)">
          <ion-col class="col-left-image">
            <img *ngIf="category.expanded" class="imgExpandCollapase" src="./assets/imgs/expanded.png" />
            <img *ngIf="!category.expanded" class="imgExpandCollapase" src="./assets/imgs/exCollapse.png" />

          </ion-col>
          <ion-col>

            <ion-label hidden no-padding no-margin no-lines text-wrap
              [ngClass]="category.numberOfServicesSelected > 0 ? 'lbl-category-name lbl-category-selected-color': 'lbl-category-name lbl-category-un-selected-color'">{{
            category.ssc_name }}
              <span *ngIf="category.numberOfServicesSelected > 0 "
                class="lblTiming">({{category.numberOfServicesSelected}})</span>

            </ion-label>
          </ion-col>
        </ion-row>

        <!-- <div *ngIf="category.expanded"> -->
          <!-- [ngClass]="service.checked ? 'serviceCellSelected' : 'serviceCellUnselected' " -->
          <ion-row no-padding no-margin no-lines
            [ngClass]="service.checked ? 'slide-in  serviceCellSelected' : 'slide-out  serviceCellUnselected' "
            *ngFor="let service of category.services; let serIndex=index" (click)="ServiceTapped(catIndex,serIndex)">
            <ion-col no-padding no-margin no-lines class="checkBoxCol" col-1>
              <ion-checkbox item-start class="CheckBox" [checked]="service.checked"
                (click)="ServiceTapped(catIndex,serIndex)"></ion-checkbox>
            </ion-col>

            <ion-col class="serviceNameCol" col-8>
              <ion-label class="serviceName" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>
                {{ service["sser_name"] }} </ion-label>
              <ion-label hidden class="serviceTime" no-padding no-margin no-lines text-capitalize>approx
                {{ service["sser_time"] }} mins</ion-label>
            </ion-col>

            <ion-col class="serPriceCol" col-3 col-xs>
              <ion-label no-padding no-margin no-lines text-capitalize text-wrap text-capitalize class="serviceCost">
                {{currencySymbol}}  {{ roundAmount(service.sser_rate)}}</ion-label>
            </ion-col>
          </ion-row>

        <!-- </div> -->

      </ion-list>
    </div>
  </div>
  <!-- </div> -->
</ion-content>
<ion-footer class="footer" [hidden]="!Categories || Categories.length === 0 ">

  <button style="text-transform: none;" [disabled]="!isenabledConfirmbutton" ion-button
    class="btnBookOrRequestAppointment" (click)='gotToAddAppointment()'>Book Appointment</button>

</ion-footer>