page-notifications {
    
    .alreadyRegister {
        width: calc(100% - 20px);
        margin-top: 20px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
        .lblAlreadyRegister {
            // background: #ea3f49;
            font-family: $montserrat-light !important;
            font-size: 3.6vw !important; // font-weight: 700;
            color: rgb(60, 60, 60);
        }
        .lblLogin {
            padding-right: 30px !important;
            padding-left: 10px !important;
            padding-bottom: 10px !important; // background: black !important;
            font-size: 4.7vw !important;
            font-family: $montserrat-light !important; // text-decoration: underline !important;
            // margin-left: 10px !important;
            color: #ea3f49 !important;
        }
    }

    .ionHeader {
        width: 100%;
        z-index: 999;
        padding-bottom: 10px;
        position: relative;
        background: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }

            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                
                .menuIcon {
                    //background: yellow;
                    width: 30px;
                    height: 17px; // width: 25pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    // z-index: 1; // 
                    // transition: 0.2s linear; // 
                    // background: green;
                }

                .reloadLablel{
                   
                    width: 30px;
                    height: 30px; // width: 25pt;
                    margin-top: 22pt;
                    position: absolute;
                    right: 50pt;
                   // z-index: 1; // 
                   // transition: 0.2s linear; // 

                    // bottom:16px;
                    // right:17px;
                    // text-align:center;
                    // color:black; 
                    // width:30px;
                    // height: 30px;
                    // position: absolute;
                
                }

            }
        }
      
    }

    // .header-image {
    //     background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
    //     height: 40vh;
    // }
    // .main-content {
    //     background-color: map-get($colors, dark);
    //     box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.3);
    // }
    .scroll-content {
        padding-top: 0 !important;
    }
    ion-header {
        backdrop-filter: blur(8px);
    }
    ion-navbar {
        opacity: 0.4;
        box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
    }
    ion-segment {
        padding: 0px 0px;
        opacity: 0.7;
        position: relative;
        top: -50px;
    }

    ion-segment-button {
        border-color: map-get($colors, primary) !important;
        color: #fff !important;
    }

    ion-card {
        background-color: #fff;
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
        position: relative;
        top: -30px;
    }

    ion-card:last-of-type {
        margin-bottom: 0 !important;
    }

    ion-item {
        background-color: #fff;
    }
    
    .menuIcon{
        height: 13px;
        width:52px;
        position: absolute;
        top: 0;
        right: 5px;
        margin-top: 35px !important;
        // background: green;
        z-index: 1;
    }

    ion-icon{
        font-size: 35px;
        margin-left: 3px;
    }

    .menuButton{
        height: 35px;
        width:55px;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 25px !important;
        // background: green;
        color:white;
        z-index: 1;
    }

.noNotiLabel{
    color: black;
    font-size: 5.29vw;
    font-family: $Montserrat-SemiBold !important;
    z-index: 100;
    height: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    line-height: 70% !important;
}

.circle-pic{
    width:50px;
    height:50px;
    background-color: red;
    border-radius: 25px;
    
}
ion-header {
    backdrop-filter: blur(8px);
}

ion-navbar {
    opacity: 0.4;
    box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
}

.not_time{
    padding-right: 10px !important; padding-top:5px !important;
      text-align:right;
      font-family:'Montserrat-Regular' !important;
      font-size:12.5px;
    }
.time2{
	 text-align:center;
}

.list-header{
 font-weight: 500;
   font-size: 4.76vw;
   font-family: $Montserrat-SemiBold;
  // font-family: $Montserrat-SemiBold !important;
     padding:10px;
     color: #000000;
     background-color: transparent;
     text-align:left;
	
}
.sal_name_lbl{
    color:black;
    font-family:'Montserrat-Regular' !important;
    font-size:18px;
    padding-bottom:5px;
}
.not_lbl{
    font-family:'montserrat-light' !important;
    font-size:13.4px;
     padding-top:5px; 
     padding-bottom:5px;
      padding-right:10px;
}
.notification_list_temp{
    // margin-top: 90px !important;
}
.notification_list{
  
    background-color: #ffffff;
}
.item-inner {
    padding-right: 0px!important;
    padding-left: 0px!important;
 }
.full_card_width{
    width:100%;
    height:100%;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px;
}
.platform-ios .ios-header {
    height:calc(56px + 20px);
    min-height:calc(56px + 20px);
    padding-top:20px;
  }
  .label-ios {
    margin: 10px 0px 0px 0px;
}
.label-md {
    margin: 10px 0px 0px 0px;
}

.header_border{
    width:100%;
    height:100%;
	width:100%;
    height:2px;
	margin-top:10px;
	background-color: #F5F5F5;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.customHeader{
    height: 90px;
    background: white;
    display: block;
    position: fixed;
    top: 0;
    right:0;
    left:0;
}
.backImage{
    height: 29px !important;
    width: 52px !important;
    padding-top: 7px;
    object-fit: contain;
    // margin-left: -10px;
    margin-top: 25px;
    margin-left: -50px;
    z-index: 1;
    
}

.headerLabel{
    position: absolute;
    bottom:16px;
    left:13.5px;
    text-align:center;
    font-size:30px;
    font-family: $Montserrat-SemiBold !important;
    font-weight:600;
    color:black; 
  }
  
  .backButton{
    position: absolute;
    top:25px;
    text-align:center;
    font-size:30px;
    color:black
  }
  
.backButton:active{
    background-color: transparent;
}

.backButton:focus{
    background-color: transparent;
}
.lblNoData {
    width: 100%;
    height: 100%;
    padding-top: 20%;
    align-content: center;
    text-align: center;
    position: absolute;
    margin: auto;
    overflow: auto; // background: darkorange;
    .imgNothingFound {
        height: 195px;
        width: 195px;
    }
    .lblNothingFound {
      
        font-family: $Montserrat-Regular;
        // background: red !important;
        align-content: center;
        text-align: center;
        height: 25pt;
        font-size: 5.29vw;
        margin-top: 36px; // background: green;
        line-height: 25pt;
    }
}
.notificationContent {
    padding: 10px; 
    // margin-top: 90px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important; 
    margin-left: 0px !important;
    background-color: #F5F5F5 !important;
}

}
