page-beauty-tips-detail {
    .herefStyle{
        background: #EC4566;
        height: 200px !important;
        margin-bottom: 100px !important;
    }
    .miniHeader {
        height: 50pt;
        background-image: $Beautyapp-gradient-color;
        
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
    }
    .ionHeader {
        width: 100%;
        z-index: 999;
        position: relative;
        background: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
        .BaseGenderSegment {
            //background: white !important;
            width: calc(100% - 30pt);
            margin-left: 15pt;
            margin-right: 15pt;
            height: 40.5pt; // position: absolute;
            // bottom: 0;
            padding-bottom: 2px !important; // top: 0 ;
            margin-top: 20pt; // bottom: -23.5pt;
            border-radius: 24.5pt; // z-index: 99999 !important;
            // margin-bottom: 15pt !important;
            .GenderSegement {
                background: transparent !important;
                width: 100%;
                height: calc(100% - 5pt);
                margin-bottom: 0pt !important;
                .segment-button {
                    height: 25pt;
                    background: transparent !important;
                    border-color: transparent !important;
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    line-height: 25pt !important; //color: rgb(35, 31, 32);
                    color: white !important;
                    font-size: 3.97vw;
                    line-height: 30pt !important; // font-family: $Montserrat-SemiBold !important;
                    font-family: $Montserrat-Regular;
                }
                .segment-button.segment-activated {
                    height: 25pt;
                    line-height: 25pt !important;
                    margin-bottom: 0pt !important; //   color: rgb(35, 31, 32);
                    color: white !important;
                    font-size: 4.5vw;
                    font-family: $Montserrat-Regular;
                    line-height: 30pt !important;
                }
            }
            .sliderContainer {
                margin-left: 22pt !important;
                margin-right: 22pt !important;
                margin-top: 3pt;
                height: 2pt;
                width: calc(100% - 44pt) !important;
                background-color: transparent;
                box-shadow: none;
                .slider {
                    background: white !important; //  background-color: rgb(236, 78, 137) !important;
                    height: 100% !important;
                    margin-bottom: 0pt !important;
                    width: calc(50% - 20pt); // float: right;
                    padding-top: 5pt !important;
                    margin-top: 0px;
                    margin-bottom: 0pt;
                    margin-left: 1px;
                }
            }
        }
    } //for header hero section


    .genderSelection{
        margin-top: -25px !important;
        background: #ffffff !important;
        width: calc(100% - 0pt);
        .BaseGenderSegment {
               width: calc(100% - 30pt);
               margin-left: 15pt;
               margin-right: 15pt;
               height: 40.5pt; // position: absolute;
               // bottom: 0;
              // padding-bottom: 2px !important;
               // top: 0 ;
               margin-top: 20pt; // bottom: -23.5pt;
               border-radius: 24.5pt; // z-index: 99999 !important;
               // margin-bottom: 15pt !important;
             //  background: #ec4e89;
               .GenderSegement {
                   background: transparent !important;
                   width: 100%;
                   height: calc(100% - 5pt);
                   margin-bottom: 0pt !important;
                   .segment-button {
                       height: 25pt;
                       background: transparent !important;
                       border-color: transparent !important;
                       margin-top: 0pt !important;
                       margin-bottom: 0pt !important;
                       line-height: 25pt !important;
                       //color: rgb(35, 31, 32);
                    //    color:  white !important;
                    color: #000000 !important;
                       font-size: 3.97vw;
                       line-height: 30pt !important; // font-family: $Montserrat-SemiBold !important;
                       font-family: $Montserrat-Regular;
                   }
                   .segment-button.segment-activated {
                       height: 25pt;
                       line-height: 25pt !important;
                       margin-bottom: 0pt !important;
                    //   color: rgb(35, 31, 32);
                    //    color:  white !important;
                       color: #000000 !important;
                       font-size: 4.5vw;
                       font-family: $Montserrat-Regular;
                       line-height: 30pt !important;
                   }
               }
               .sliderContainer {
                   margin-left: 22px !important;
                   margin-right: 22px !important;
                //    margin-top: 3px !important;
                   height: 2pt;
                   width: calc(100% - 44pt) !important;
                   background-color: transparent;
                   box-shadow: none;
                   .slider_btd {
                    background-image: $Beautyapp-gradient-color;
                    //    background: white !important;
                     //  background-color: rgb(236, 78, 137) !important;
                       height: 100% !important;
                       margin-bottom: 0pt !important;
                       width: calc(50% - 20pt);
                       // float: right;
                       padding-top: 5px !important;
                       margin-top: 0px;
                       margin-bottom: 0pt;
                       margin-left: 1px;
                   }
               }           
           }
    }


    .feature-item-image{
         margin-top: 10px;
        //  width: 100% !important;
         margin-left: 16px !important;
         margin-right: 16px !important;
         width: calc( 100% - 32px) !important;

              
     }

     .shareBox {
        text-decoration: underline !important;
        float: left;
        margin-top: 1px !important;
        width: calc(100% - 65px);
        // padding: 50px;
      }
      .shareBoxRight {
        float: left;
        margin-top: 1px !important;
        right: 0;

        width: 65px !important;
        // padding: 50px;
      }
      .tipShare::after {
        content: "";
        clear: both;
        display: table;
      }
      .share-section{
         
        // width: calc(100% - 50px);
       //  background: orange !important;
      //   padding-right: 7px;
        // padding-left: 7px;
         //background: #ea3f49;
       //  background: rgb(73, 102, 182);
         .share-section-contents{
            display: flex;
         //   background: greenyellow; 
            flex-direction: row;
          //  width: 100%;
            .share-icon{
                // background: #ec4566;
              img{
                  margin-left: 7px;
                  margin-top: 0px;
                  width: 15px;
                  height: 15px;
              }   
            }
            .share-lbl{
                padding-right: 7px !important;
                // background: #ec4566;
                color: #EC4566 !important;
                 text-decoration: underline !important;
                // color: rgb(255, 255, 255);
                padding-top: 0px !important;
                padding-left: 10px !important;
                font-size: 3.00vw;
                font-family: 'Montserrat-Regular';
            }
            
         }

     }
     
     .heroArticleImageShare{
        background: #000000;
        padding-left: 10px;
        padding-right: 10px;
        height: 40px !important;
        width: 50px !important;
        opacity:0.6 !important;
        font-family: 'georgia-bold-font' !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        line-height: 30px !important;
        //font-family: 'Montserrat-Bold' !important;
        font-size: 4.92vw;
        color: rgb(238, 238, 238);

        //  position: absolute;
        //  background:red !important;
        //  width: 30px !important;
     }
    .heroArticleImage {
        display: block;
        position: relative;
        width: 100%;
       
        // height: 180pt !important; // position: absolute !important;
    }
    .heroArticleContent {
        position: relative !important;
        // background: rgba(0, 0, 0, 0.3);
        width: 100% !important;
        // height: 180pt !important; // z-index: 999 !important;
        bottom: 0;
       
        // margin-top: 112pt;
        .divAddToFavorite {
            width: 140pt;
            margin-right: 10pt;
            margin-top: 40pt;
            float: right;
            background: rgb(229, 78, 132);
            border-radius: 3pt !important;
            ion-label {
                color: white;
                font-family: $Montserrat-Regular;
                font-size: 4.23vw;
                float: left;
                background: transparent; // padding: 5pt;
                padding-left: 8pt; // background:blue;
            }
            img {
                width: 12pt;
                height: 12.5pt;
                float: left;
                margin-top: 10pt !important;
                margin-left: 0pt;
                background: transparent; // background: green;
            }
        }
        .heroArticleBottomContent {
            position: absolute;
            bottom: 1px !important; // text-align: right;
            left: 16px;
            right: 16px;
            width: calc( 100% - 32px) !important;
            background: transparent !important;
            .lblTitle {
                background: #000000;
                padding-left: 10px;
                padding-right: 10px;
                opacity:0.6 !important;
                font-family: 'georgia-bold-font' !important;
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                line-height: 30px !important;
                //font-family: $Montserrat-Bold !important;
                font-size: 4.92vw;
                color: rgb(238, 238, 238)
            }
            .urduTitle {
                text-align: right;
                width: 100%; // background: #e74e00;
                .lblTitleUrdu {
                    background: #000000 !important;
                    opacity:0.6 !important;
                    padding-right: 10px;
                    padding-left: 10px;
                    padding-top: 10px !important;
                    padding-bottom: 10px !important;
                    letter-spacing: -0.5pt;
                    font-family: $jameel-noori !important;
                    width: 100% !important; // background: #e74e86;
                    font-size: 6.61vw;
                    color: rgb(238, 238, 238);
                }
            }
            .lblDescription {
                font-family: $montserrat-light;
                font-size: 4.23vw;
                color: rgb(238, 238, 238)
            }
            .ratingCard {
                width: 100%;
                background: transparent;
                box-shadow: none; // background: rgb(98, 147, 163);
                ul {
                    padding: 0pt;
                    margin-top: 2pt;
                    margin-bottom: 0pt;
                    background: transparent;
                    &.rating li {
                        padding: 3pt 0pt 0pt 0pt !important;
                        background: none;
                        color: rgb(255, 189, 2);
                        ion-icon {
                            font-size: 5.29vw;
                        }
                    }
                }
                .ratingValue {
                    margin-top: 3pt;
                    margin-left: 10pt;
                    margin-right: 3pt;
                    float: left;
                    white-space: normal;
                    text-align: left;
                    font-size: 3.88vw;
                    font-family: $Montserrat-SemiBold !important; // font-family: $Montserrat-Medium !important;
                    color: rgb(255, 189, 2);
                    position: relative; // background: red;
                }
                .withNoRating {
                    float: left;
                    margin-left: 16px;
                    position: relative; // background: chocolate;
                }
                .withRating {
                    float: left;
                    margin-left: 2px;
                    position: relative;
                    margin-top: 0pt; //  margin-bottom: 14pt;
                }
                .notEnoughRating {
                    text-align: left;
                    font-size: 3.17vw;
                    float: left;
                    white-space: normal;
                    font-family: $Montserrat-SemiBold !important;
                    color: rgb(150, 150, 150);
                    position: relative;
                    padding-left: 2pt;
                    margin-top: 3pt;
                    margin-left: 16px; // padding-bottom: 14pt;
                    margin-bottom: 5pt; // background: green;
                    clear: both;
                }
            }
        }
    } //end header hero section
    .tipsPostCard {
        margin-top: 9px;
        margin-left: 16px !important;
        margin-right: 16px !important;
        width: calc(100% - 32px) !important; //  background: #e74e00;
        //for top image
        .container {
            position: relative;
            text-align: center;
            color: white;
            .bottom-left {
                position: absolute;
                bottom: 8px;
                left: 16px; //right: 16px;
                .tips-title {
                    text-align: left;
                    left: 16px;
                    right: 16px;
                }
                .tips-rating {
                    text-align: left;
                }
            }
        } //end top image
        width: 100%;
        box-shadow: none;
        .salBackImage {
            height: 218pt;
            width: 100%; // object-fit: fill;
            background: $Beautyapp-gradient-color;
            position: relative;
            z-index: 0; // margin-top: 30pt;
        }
        .lblTipTitle {
            // font-family: 'georgia-bold-font' !important;
            font-family: $Montserrat-Bold !important;
            margin-top: 0pt !important;
            color: rgba(27, 27, 27, 0.9);
            font-size: 4.45vw !important;
           // line-height: 19px !important;
            line-height: 19pt;
        }

        .lblTipTitleUrdu {
            // color: rgb(96, 96, 96);
            font-family: $jameel-noori !important;
            text-align: right;
            margin-top: 5px !important;
            padding-right: 10pt; //  padding-left: 60pt ;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            letter-spacing: 0pt;
            // font-size: 4.23vw !important;
            // color: rgb(0, 0, 0);
            direction: rtl;
            text-align: justify;
            // color: red;
            font-family: $jameel-noori !important;
            font-size: 5.99vw;

        }
       
        .lblTipsDescription {
            line-height: 19px !important;
            font-family: 'georgia' !important;
            //  background:yellow;
            color: rgba(96, 96, 96, 96); // max-height: 50pt !important;
           // font-family: $montserrat-light !important;
            font-size: 3.43vw !important;
            p {
                margin-top: 6pt;
                line-height: 19pt;
                font-family: 'georgia-font' !important;
               // font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif !important;
                color: rgba(60, 60, 60, 0.9);
               // font-family: $Montserrat-Medium !important;
                font-size: 4.76vw;
            }
        }
        .lblViewMore {
            position: relative;
            margin-right: 10pt !important;
            float: right;
            padding: 0pt;
            margin: 0pt;
            margin-bottom: 3pt;
            text-align: right;
            color: rgba(123, 117, 117, 0.9);
            font-size: 3.88vw;
            font-family: $Montserrat-Bold !important; // font-family: $Montserrat-SemiBold !important;
            background: transparent; // 
        }
        .lblTipsDescriptionUrduNew {
          // background: #e74e86;
           // background: lime;
            color: rgb(96, 96, 96);
            // color:red;
            font-family: $jameel-noori !important;
            text-align: right;
            padding-right: 10pt; //  padding-left: 60pt ;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            letter-spacing: -0.5pt;
            font-size: 4.23vw !important;
            strong {
                letter-spacing: -0.5pt;
                //background: lime !important;
                background: white;
                color: rgb(0, 0, 0);
                font-family: $jameel-noori !important;
                font-size: 5.29vw;
                text-align: right;
                direction: rtl;
                text-transform: capitalize
                
                
            }
            p {
                line-height: 41px;
               // background: yellow;
                color: rgba(60, 60, 60, 0.9);
               // font-family: $montserrat-light !important;
               font-family: $jameel-noori !important;
                font-size: 16pt;
                // text-indent: 50pt;
                direction: rtl;
                text-align: justify;
                text-decoration: none;
            }
            div {
                background: green;
            }
        }
        .lblViewMoreUrdu {
            background: lime !important;
            position: relative;
            margin-left: 10pt !important;
            float: left;
            padding: 0pt;
            margin: 0pt;
            margin-top: 5pt;
            margin-bottom: 5pt;
            text-align: right;
            color: black; //rgba(123, 117, 117, 0.9);
            font-size: 4.92vw;
            font-weight: bold;
            
           // font-family: $jameel-noori !important;
            background: transparent; //
            // background: green !important;
        }
    }
    .lblNoData {
        width: 100%;
        padding-top: 20%; // padding-bottom: 10%;
        align-content: center;
        text-align: center;
        position: absolute;
        .imgNothingFound {
            height: 130pt;
            width: 130pt;
        }
        .lblNothingFound {
            align-content: center;
            text-align: center;
            height: 25pt;
            margin-top: 20pt; // background: green;
            line-height: 25pt;
            font-family: $Montserrat-Regular;
            font-size: 5.29vw;
        }
    }
    .moreOnBeautyTips {
        font-family: $Montserrat-Bold !important;
        font-size: 4.23vw;
        text-align: left;
        line-height: 30pt;
        background: white;
        margin-left: 16pt;
    }
    .servicesRow {
        width: 100%;
        margin-bottom: 10pt !important;
        background: white;
        border-right: white solid 8px;
        border-left: white solid 8px;
        .servicesColumn {
            width: 100% !important;
            background: white;
            border-right: white solid 4px;
            border-left: white solid 4px;
            .serviceImage {
                width: 100%;
                height: 96px; // margin-bottom: 0px !important;
                // justify-content: center;
                // align-items: center;
            }
            .serviceName {
                color: white;
                font-size: 4.5vw;
                font-family: $Montserrat-Bold !important;
                text-align: center;
                background-image: $Beautyapp-gradient-color; // margin-top: 0px !important;
                margin-bottom: 10px;
            }
            .serviceBox {
                background: #e74e86;
                width: 50% !important;
                align-content: center;
                text-align: center;
                font-weight: bold;
                margin-bottom: 5pt;
            }
        }
    }
    .beautyTipRow {
        margin-top: 20pt;
        width: 100%;
        z-index: 99;
        .beautyTipColumnEven {
            background: white; // background: green;
            margin-bottom: 20pt;
            border-left: white solid 12pt;
            border-right: white solid 8pt;
            .lblBeautyTag {
                width: 87pt;
                height: 28pt;
                position: absolute;
                background: rgb(229, 78, 132);
                font-family: $Montserrat-Regular;
                font-size: 4.23vw;
                color: white;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                top: 0pt;
                margin-top: 10pt;
            }
            .serviceImage {
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 180pt;
                margin-top: 0pt;
            }
            .lblShortDescription {
                padding: none;
                color: black;
                font-size: 4.92vw;
                ;
                font-family: $Montserrat-Bold !important;
                width: 90% !important;
                text-align: center;
                background: white;
                padding-bottom: 2pt;
                margin-left: 5% !important;
                margin-right: 5% !important;
            }
            .lblFullDescription {
                color: rgb(96, 96, 96);
                font-size: 4.23vw;
                ;
                font-family: $montserrat-light;
                width: 90% !important;
                margin-left: 5% !important;
                margin-right: 5% !important;
                text-align: center; // letter-spacing: 1.2pt;
            }
        }
        .beautyTipColumnOdd {
            width: 100%;
            background: white;
            margin-bottom: 20pt;
            border-right: white solid 12pt;
            border-left: white solid 8pt;
            .lblBeautyTag {
                width: 87pt;
                height: 28pt;
                position: absolute;
                background: rgb(229, 78, 132);
                font-family: $Montserrat-Regular;
                font-size: 4.23vw;
                color: white;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                top: 0pt;
                margin-top: 10pt;
            }
            .serviceImage {
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 180pt;
                margin-top: 0pt;
            }
            .lblShortDescription {
                padding: none;
                color: black;
                font-size: 4.92vw;
                ;
                font-family: $Montserrat-Bold !important;
                width: 90% !important;
                text-align: center;
                background: white;
                padding-bottom: 2pt;
                margin-left: 5% !important;
                margin-right: 5% !important;
            }
            .lblFullDescription {
                color: rgb(96, 96, 96);
                font-size: 4.23vw;
                ;
                font-family: $montserrat-light;
                width: 90% !important;
                margin-left: 5% !important;
                margin-right: 5% !important;
                text-align: center; // letter-spacing: 1.2pt;
            }
        }
    }
    .lstContent {
        margin-top: 30px;
        .MazeedParhe {
            //  background: #e74e86;
            // direction: ltr;
             font-family: $Montserrat-Bold !important;
            // font-size: 3.7vw;
            // text-align: left;
            // // line-height: 30pt;
            // text-align: right;

            margin-left: 16pt;
            margin-right: 17px;
            padding-bottom: 17px;


            //
            //letter-spacing: -0.5pt;
               // background: lime !important;
                background: white;
                color: rgb(0, 0, 0);
               // font-family: $jameel-noori !important;
                font-size: 4.23vw;
                text-align: right;
                direction: rtl;
                text-transform: capitalize

        }
        .listingContent {
            padding: 0px !important;
            width: calc(100% - 34px);
            margin-left: 17px;
            margin-right: 17px;
            margin-bottom: 20pt;
            border-bottom: 1px solid rgb(184, 184, 184);
        }
        .imageContent {
            float: left;
            width: 138px;
            .unFeaturedImage {
                width: 138px;
            } // .unFeaturedItem {
            //     background: #e74e86 !important;
            //     // height: 144px;
            //     margin: 0pt !important;
            //     padding: 0px!important;
            //     width: 138px;   
            //      
            // }
        }
        .otherContent {
            float: right;
            width: calc(100% - 138px);
            .lblTitle {
                font-family: $Montserrat-Bold !important;
                padding-left: 15pt;
                font-size: 4.23vw;
            }
            .tagStyle {
                color: rgb(165, 10, 10);
                font-size: 4.23vw;
                font-family: $Montserrat-Bold !important;
            }
        }
        .separator {
            margin-top: 10pt !important;
            margin-bottom: 10pt !important; // background: black;
            height: 1px;
            width: 100% !important;
            clear: both;
        }
    }
    .lstContentUrdu {
        .MazeedParhe {
            letter-spacing: -0.01pt;
            font-family: $jameel-noori !important;
           //    font-family: 'Jameel Noori Nastaleeq Kasheeda' !important;
            //  background: #e74e86;
            direction: ltr;
           // font-family: $Montserrat-Bold !important;
            font-size: 6.61vw;
            text-align: left;
            line-height: 30pt;
            text-align: right;
            margin-left: 16pt;
            margin-right: 17px;
            padding-bottom: 17px;
           // font-weight: bold !important;
        } 
        margin-top: 30px !important;
        .listingContent {
            padding: 0px !important;
            width: calc(100% - 34px);
            margin-left: 17px;
            margin-right: 17px;
            margin-bottom: 20pt;
            border-bottom: 1px solid rgb(184, 184, 184);
        }
        .imageContent {
            float: right;
            width: 138px;
            .unFeaturedImage {
                width: 138px;
            } // .unFeaturedItem {
            //     background: #e74e86 !important;
            //     // height: 144px;
            //     margin: 0pt !important;
            //     padding: 0px!important;
            //     width: 138px;   
            //      
            // }
       }
       .otherContent{
            direction: rtl;
      // background:red;
       float: left;;
       width: calc(100% - 138px);
       .lblTitle{
        
         //to apply jameel-noori-urdu
         font-family: $jameel-noori !important;
         direction: rtl;
         text-align: justify;
         text-decoration: none;
         letter-spacing: -0.5pt;
         //end to apply jameel-noori-urdu

         // font-family: $montserrat-light !important;
           padding-right: 10pt;
           font-size: 5.29vw;
       }
       .tagStyle{
           float: right;
           color:  rgb(165, 10, 10);
           font-size: 4.23vw;
           font-family: $Montserrat-Bold !important;
       }
       
    }
    .separator{
        margin-top: 10pt !important;
        margin-bottom: 10pt !important;
       // background: black;
        height: 1px;
        width: 100% !important;
        clear: both;
    
       
    }
      
    }
}